---
layout: front-page 
permalink: /  
title: Home  
label: home 
--- 


{% include sell-points.html 
    data= site.data.sellPoints 
%} 

{% include heading.html 
    className= "page-heading" 
    level= 1 
    text= "Rocket Web Studio" 
%} 

{% include workflow.html 
    data= site.data.workflow 
%} 

{% include building.html 
    data= site.data.building 
%} 

{% include projects.html 
    head= site.data.projectsSection 
    body= site.data.projects 
%} 

<!-- {% include reviews.html 
    head= site.data.reviewsSection  
    body= site.data.reviews 
%}  --> 

{% include about.html 
    data= site.data.about 
%} 
