---
layout: inner-page 
permalink: /proekti
title: "Проекти на Rocket Web Studio" 
description: "Избрани проекти, които ще Ви дадат ясна представа какво да очаквате от Rocket." 
dataFileName: projectsPage 
label: projects 
--- 

{% assign ordered= site.projects | sort: "order" %} 

<ul class= "entry-list project-entry-list"> 
{% for entry in ordered %}  
    {% assign projectEntry= site.data.projects[ entry.dataFileName ] %} 
    {% assign projectEntryImage= projectEntry.sections.screenshots.body.entryList | first %} 

    <li id= "{{ entry.label }}-project-entry" class= "entry project-entry {{ entry.label }}-project-entry"> 
        {% include project-preview.html 
            heading= projectEntry.title 
            description= projectEntry.sections.description.paragraphs 
            image= projectEntryImage 
            url= entry.url 
        %} 
    </li> 
    
{% endfor %} 
</ul> 