--- 
layout: inner-page 
permalink: /services 
canonical: /services 
title: "Уеб дизайн услуги и цени" 
description: "Изработване на дизайн, изграждане и оптимизиране на уеб сайт от Rocket на цени, които си заслужават." 
dataFileName: servicesPage 
label: services 
---  

{% assign pricingData= site.data.buildingPage %} 

<article class= "pricing-data"> 
    <ul class= "entry-list price-entry-list workflow-price-entry-list"> 
    {% for entry in site.data.servicesPage.sections %} 
        {% assign priceBlockKey= entry[ 0 ] %}
        {% assign priceBlock= entry[ 1 ] %} 

        <li id= "{{ priceBlockKey }}-service" class= "entry price-entry workflow-price-entry"> 
            {% include heading.html 
                className= "price-block-heading has-icon" 
                level= 3 
                text= priceBlock.heading 
            %} 

            {% include text.html 
				text= priceBlock.paragraphs 
			%} 

            {% include price.html 
                price= priceBlock.price 
            %} 

            {% if site.data.articles[ priceBlockKey ] %} 

                {% assign target= "/services/" | append: priceBlockKey %} 

                {% include outer-page-link-button.html 
                    target= target 
                %} 

            {% endif %} 

            <!--{% if priceBlockKey == "building" %} 
                {% include price-block-list.html 
                    className= "building" 
                    blockEntryList= site.data.buildingPage.sections 
                    price= true 
                %} 
            {% endif %} --> 
        </li>
    {% endfor %} 
    </ul>
</article>

{% comment %} 
<!-- <article class= "pricing-data workflow-pricing-data">
    {% include price-block-list.html 
        className= "workflow" 
        blockEntryList= site.data.pricingPage.sections 
        price= true 
    %} 
</article> 

<article class= "pricing-data building-pricing-data">   
    {% include price-block.html 
        className= "overall-price"
        text= pricingData.overallPrice.text 
        price= pricingData.overallPrice.price 
    %} 

    {% include price-block-list.html 
        className= "building" 
        blockEntryList= pricingData.sections 
        price= true 
    %} 
</article>  --> 
{% endcomment %} 
