{% capture body %} 

<div class= "screenshot-entry-list-window"> 
    <ul class= "entry-list screenshot-entry-list">
    {% for screenshot in include.body %} 

        <li class= "entry screenshot"> 
            {% include image.html 
                src= screenshot.src 
            %} 
        </li> 
        
    {% endfor %} 
    </ul> 
</div> 
    
{% endcapture %} 

{% include project-page/project-section.html 
    name= "screenshots" 
    heading= "Скрийншоти" 
    paragraphs= include.paragraphs 
    body= body 
%} 