{% assign client= site.data.clients | where: "projectIdList", include.projectId | first %} 
{% assign representatives= site.data.representatives | where: "projectIdList", include.projectId %} 
{% assign reviews= site.data.reviews | where: "projectId", include.projectId %} 

{% capture body %} 

    {% include project-page/client/name/client-name.html 
        name= client.name
    %} 

    {% include project-page/client/description/client-description.html 
        description= client.description 
    %} 

    {% include project-page/client/representatives/representatives.html 
        representatives= representatives 
    %} 

    {% assign representativeCount= representatives | size %} 

    {% include project-page/client/reviews/project-reviews.html 
        reviews= reviews 
    %}
     
{% endcapture %} 

{% include project-page/project-section.html 
    name= "client" 
    heading= "Client" 
    paragraphs= include.paragraphs 
    body= body 
%} 