{% assign articlePage= include.articlePage %} 


{% include heading.html 
    level= 1 
    className= "page-heading" 
    text= articlePage.heading 
%} 

{% include text-entry-list.html 
    className= "page-text-entry" 
    paragraphs= articlePage.paragraphs  
%} 

{% if articlePage.image %} 
    {% include featured-image.html 
        className= "page-featured-image" 
        image= articlePage.image 
    %} 
{% endif %}

{% for section in articlePage.sections %} 
    {% assign sectionName= section.name | append: "-section" %} 

    <section 
        {% if articlePage.pageNav %}
            id= "{{ sectionName }}"
        {% endif %} 
        class= "section article-section {{ sectionName }}"
    > 
        {% include heading.html 
            level= 5 
            className= "subheading section-subheading" 
            text= section.subheading 
        %}

        {% include heading.html 
            level= 2 
            className= "section-heading" 
            text= section.heading 
        %} 

        {% include button.html 
            className= "button-open button-open-section-body" 
            text= "Read More" 
        %} 

        <section class= "section-body body-expandable"> 
            {% include text-entry-list.html 
                className= "section-text-entry" 
                paragraphs= section.paragraphs  
            %} 

            {% if section.image %}
                {% include featured-image.html 
                    className= "section-featured-image" 
                    image= section.image 
                %} 
            {% endif %} 
        </section>
    </section> 
{% endfor %}