{% assign article= include.article %} 


{% if include.level %} 
	<h{{ level }} 
		class= "heading section-heading article-section-heading" 
		{% if article.attributes.id %}
			id= {{ article.attributes.id | append: "-section" }}
		{% endif %} 
	>
		{{ article.heading }} 
	</h{{ level }}> 
{% else %} 
	{% assign level= 1 %} 
{% endif %}

{% for element in article.body %} 

	{% case element.type %} 

		{% when "text" %} 
			{% include text.html 
				text= element.body 
			%} 
		{% continue %} 

		{% when "list" %} 
			{% include list.html 
				level= element.level 
				list= element.body 
			%} 
		{% continue %} 

		{% when "textList" %} 
			{% include text-list.html 
				list= element.body 
			%} 
		{% continue %}

		{% when "image" %} 
			{% include image.html 
				src= element.body.src 
			%} 
		{% continue %} 

		{% when "sections" %} 
			{% for section in element.body %} 
				{% assign level= level | plus: 1 %} 

				{% include article.html 
					article= section 
					level= level 
				%} 

				{% assign level= level | minus: 1 %}
			{% endfor %}
		{% continue %}

	{% endcase %} 

{% endfor %}