{% assign articlePage= include.articlePage %} 


{% for section in articlePage.sections %} 
    {% assign sectionKey= section[ 0 ] %}
    {% assign sectionData= section[ 1 ] %} 
    {% assign sectionName= sectionKey | append: "-section" %} 

    <section 
        {% if articlePage.pageNav %}
            id= "{{ sectionName }}"
        {% endif %} 
        class= "section article-section {{ sectionName }}"
    > 
        {% include heading.html 
            level= 5 
            className= "subheading section-subheading" 
            text= sectionData.subheading 
        %}

        {% include heading.html 
            level= 2 
            className= "section-heading" 
            text= sectionData.heading 
        %} 

        <!-- {% include button.html 
            className= "button button-open button-open-section-body" 
            text= "Read More" 
        %}  --> 

        {% include inner-link.html 
            className= "button button-open button-open-section-body has-icon" 
            targetSectionID= sectionName 
            text= "Read More" 
        %}

        <section class= "section-body body-expandable"> 
            {% include text-entry-list.html 
                className= "section-text-entry" 
                paragraphs= sectionData.paragraphs  
            %} 

            {% if section.image %}
                {% include featured-image.html 
                    className= "section-featured-image" 
                    image= sectionData.image 
                %} 
            {% endif %} 
        </section>
    </section> 
{% endfor %}