{% assign block = include.block %} 

{% if block.subheading %}
    {% include heading.html 
        level= 5 
        text= block.subheading.text 
    %} 
{% endif %}

{% if block.heading %}
    {% include heading.html 
        level= include.level 
        text= block.heading.text 
    %} 
{% endif %}

{% for paragraph in block.paragraphs %} 
    {% include paragraph.html 
        text= paragraph.text 
    %} 
{% endfor %} 

{% if block.image.type == "featured" %}
    {% include featured-image.html 
       image= block.image 
    %}
{% else %}
    {% include image.html 
        src= block.image.src 
        alt= block.image.alt 
    %}
{% endif %}

{% if block.button %} 
    {% include button.html 
        text= block.button.text 
    %}  
{% endif %}