{% assign block= include.block %} 


{% if block.subheading %}
    {% include subheading.html 
        text= block.subheading.text 
        prefixes= include.prefixes 
    %} 
{% endif %}

{% if block.heading %}
    {% include heading.html 
        level= include.level 
        text= block.heading 
        prefixes= include.prefixes 
    %} 
{% endif %}

{% if block.paragraphs %} 
    {% include text-entry-list.html 
        paragraphs= block.paragraphs 
        prefixes= include.prefixes 
    %} 
{% endif %}

{% if block.button %} 
    {% include button.html 
        text= block.button.text 
        prefixes= include.prefixes 
    %}  
{% endif %} 

{% if block.image %}
    {% if block.image.type == "featured" %} 
        {% include featured-image.html 
            image= block.image 
            prefixes= include.prefixes 
        %}
    {% else %}
        {% include image.html 
            src= block.image.src 
            alt= block.image.alt 
            prefixes= include.prefixes 
        %}
    {% endif %}
{% endif %}