{% assign head= include.data.head %}
{% assign body= include.data.body %} 

<section class= "section page-preview-section building-section"> 
    {% include section-head.html 
        head= head 
    %} 

    <article> 
        {% include price-block.html 
            className= "overall-price"
            text= body.overallPrice.text 
            price= body.overallPrice.price 
        %} 

        <ul class= "entry-list building-block-entry-list"> 
        {% for buildingBlock in body.entryList %} 
            <li class= "entry building-block-entry entry-expandable"> 
                {% include building-block.html buildingBlock= buildingBlock %} 
            </li>
        {% endfor %} 
        </ul> 
    </article>
</section>