{% assign head= include.buildingBlock.head %}
{% assign body= include.buildingBlock.body %} 

<section class= "entry-head"> 
    <!-- {% include input.html 
        className= "add-block" 
        type= "checkbox" 
        text= "Add Block" 
    %}  --> 

    {% include price-block.html 
        className= "building-block-price" 
        text= head.heading.text 
        price= head.price 
    %} 

    {% assign linkTarget= "/building" | append: "#" | append: sectionName | append: "-section" %} 
    {% include link.html 
        className= "button read-more-button" 
        target= linkTarget
        text= "Read More" 
    %} 

    <!-- {% include button.html 
        className= "button-open building-block-button-open" 
        text= "Read More"
    %}  --> 
</section>

<section class= "entry-body body-expandable"> 
    {% include block.html 
        level= 3 
        block= body 
    %} 
</section>