{% assign head= include.head %}
{% assign body= include.body %} 

<section class= "section page-preview-section building-section"> 
    {% include section-head.html 
        head= head 
    %} 

    <article> 
        {% include price-block.html 
            className= "overall-price"
            text= include.overallPrice.text 
            price= include.overallPrice.price 
        %} 

        <ul class= "entry-list building-block-entry-list"> 
        {% for entry in include.body %} 
            {% assign sectionName= entry[ 0 ] %}
            {% assign buildingBlock= entry[ 1 ] %} 

            <li class= "entry building-block-entry entry-expandable"> 
                {% include price-block.html 
                    className= "building-block-price" 
                    text= buildingBlock.heading 
                    price= buildingBlock.price 
                %} 
            
                {% assign linkTarget= "/building" | append: "#" | append: sectionName | append: "-section" %} 
                {% include link.html 
                    className= "button read-more-button" 
                    target= linkTarget
                    text= "Read More" 
                %} 
            </li>
        {% endfor %} 
        </ul> 
    </article>
</section>