{% assign client= include.client %} 
  

<article class= "client-details"> 
{% include person.html 
    name= client.name  
    picture= client.picture 
    role= "client" 
%} 

{% capture reviewerCompany %} 
    {% include key-value-pair.html className= "company-name" key= "name" value= client.company.name %} 
    {% include key-value-pair.html className= "company-location" key= "location" value= client.company.location %} 

    {% capture reviewerUrl %} 
        {% include link.html target= client.company.url text= client.company.url %} 
    {% endcapture %}
    {% include key-value-pair.html className= "company-url" key= "web address" value= reviewerUrl %} 
{% endcapture %}
{% include key-value-pair.html className= "client-company" key= "company" value= reviewerCompany %} 
</article> 