{% include join-prefix.html 
    baseClassName= "featured-image" 
    prefixes= include.prefixes 
%}

<figure 
    class= "{{ prefixClassNames }} {{ include.className }}" 
    style= "background-image: url( '{{ base_url }}/assets/images/{{ include.image.src }}' )" 
> 
    {% include image.html 
        src= include.image.src 
        alt= include.image.alt 
    %} 

    {% if include.image.caption %} 
        <figcaption>
            {{ include.image.caption }}
        </figcaption> 
    {% endif %}
</figure>