{% if include.heading %}
    {% assign headingClassName= "footer-section-heading" %}
    {% if include.headingClassName %}
        {% assign headingClassName= headingClassName | append: " " | append: include.headingClassName %} 
    {% endif %}

    {% include heading.html 
        className= headingClassName 
        level= 3 
        text= include.heading.text 
    %} 
{% endif %}

{% if include.paragraphs %} 
    {% include text-entry-list.html 
        className= "footer-section-text-entry" 
        paragraphs= include.paragraphs 
    %} 
{% endif %}