<nav id= "main-nav" class= "main-nav"> 
    {% include accessibility-heading.html 
        text= include.data.title 
    %} 

    {% include main-nav-control-button.html 
        type= "open" 
        text= "Site Navigation" 
    %} 
    
    <section class= "nav"> 
        {% include nav.html 
            className= "main-nav-entry-list" 
            data= include.data.entryList 
            current= page.url 
        %}   

        {% include main-nav-control-button.html 
            type= "close" 
            text= "Close Navigation" 
        %}
    </section>
</nav>