<ul class= "entry-list nav-entry-list{% if include.className %} {{ include.className }}{% endif %}"> 
{% for entry in include.data %} 
    <li class= "nav-entry {{ entry.className | prepend: 'nav-entry-' }}{% if entry.target == page.url %}{{ ' nav-entry-current' }}{% endif %}"> 
        {% if entry.nav %} 
            <span class= "nav-entry-text subnav-label">{{ entry.text }}</span> 
            {% include nav.html 
                className= "subnav-entry-list" 
                data= entry.nav 
            %} 
        {% else %} 
            {% include link.html 
                className= "nav-entry-text nav-link" 
                target= entry.target 
                text= entry.text 
            %}  
        {% endif %}
    </li>
{% endfor %}
</ul> 