<section class= "page-head"> 
    {% include id.html 
        tagline= include.idTagline 
    %} 

    {% if include.subtitle %} 
        {% include subheading.html 
            className= "page-subheading" 
            text= include.subtitle 
        %} 
    {% endif %}

    {% include paragraph.html  
        className= "page-head-text-entry" 
        text= include.title 
    %} 

    {% if include.pageNavEntryList %}
        {% include page-nav.html 
            pageNavEntryList= include.pageNavEntryList 
        %} 
    {% endif %}

    {% if include.image %}
        {% include featured-image.html 
            image= include.image 
        %} 
    {% endif %}
</section>