<section class= "page-head"> 
    {% include id.html 
        tagline= site.data.id.tagline 
    %} 

    {% if page.subtitle %} 
        {% include subheading.html 
            className= "page-subheading" 
            text= page.subtitle 
        %} 
    {% endif %}

    {% include paragraph.html  
        className= "page-head-text-entry" 
        text= page.title 
    %} 

    {% if include.nav %}
        {% include nav.html 
            data= include.nav 
        %} 
    {% endif %}

    {% if include.image %}
        {% include featured-image.html 
            image= include.image 
        %} 
    {% endif %}
</section>