<section class= "page-nav has-icon"> 
    {% include accessibility-heading.html %} 

    {% if include.pageNavEntryList %} 
        <ul class= "entry-list page-nav-entry-list"> 
        {% for namePairString in include.pageNavEntryList %} 
            {% assign namePair= namePairString | split: "," %}
            {% assign targetSectionID= namePair[ 0 ] | append: "-section" %} 
            {% assign text= namePair[ 1 ] | capitalize %} 

            <li class= "entry page-nav-entry"> 
                {% include inner-link.html
                    targetSectionID= targetSectionID 
                    text= text 
                %} 
            </li>
        {% endfor %} 
        </ul> 
    {% else %} 
        {% include inner-link.html 
            className= "skip-to-content-link" 
            targetSectionID= "page-body" 
            text= "Към основната част" 
        %}
    {% endif %}
</section>