{% include personClassNames.html 
    basePrefix= "person" 
    rolePrefix= include.role 
%} 
{% include key-value-pair.html 
    className= nameClassName 
    key= "name" 
    value= include.name 
%} 
{% if include.picture %} 
    {% capture picture %} 
        {% include image.html 
            src= include.picture.src 
            alt=include.picture.alt 
        %}
    {% endcapture %}
    {% include key-value-pair.html 
        className= pictureClassName 
        key= "picture" 
        value= picture %} 
{% endif %}