<article class= "person"> 
    {% assign name= include.name | split: " " | join: "&nbsp;" %} 
    <h4 class= "heading person-name">{{ name }}</h4> 

    {% if include.photo %} 
        {% capture picture %} 
            {% include image.html 
                className= "person-photo" 
                src= include.photo.src 
                alt= include.photo.alt 
            %}
        {% endcapture %}

        {% include key-value-pair.html 
            className= pictureClassName 
            key= "picture" 
            value= picture 
        %} 
    {% endif %}
</article>