<section class= "block-chart pricing-chart"> 
    
    <section class= "chart-body pricing-chart-body"> 
        <ul class= "chart-block-list pricing-block-list"> 
        {% for chartBlockEntry in include.chartBlockList %} 
            {% assign chartBlockTarget= chartBlockEntry[ 0 ] %}
            
            <li class= "chart-block pricing-block {{ chartBlockTarget }}-chart-block"> 
                {% assign chartBlock= chartBlockEntry[ 1 ] %} 

                {% include heading.html 
                    className= "chart-block-heading" 
                    level= 3 
                    text= chartBlock.heading
                %} 

                {% if chartBlock.price %} 
                    {% include price.html 
                        price= chartBlock.price 
                    %} 
                {% endif %} 

                {% if chartBlock.button %} 
                    {% assign linkTarget= "/workflow" | append: "#" | append: sectionName | append: "-section" %} 
                    {% include link.html 
                        className= "button read-more-button has-icon" 
                        target= linkTarget
                        text= site.data.settings.buttons.outerPageLink.text 
                    %} 
                {% endif %}
            </li> 
        {% endfor %}
        </ul> 

        <div class= "process-flow"></div> 
    </section> 

</section> 
