<section id= "product-features-section" class= "section page-preview-section product-features-section"> 
    <h5 class= "heading subheading section-subheading">{{ include.data.subheading }}</h5> 
    <h2 class= "heading section-heading">{{ include.data.heading }}</h2> 
    <!--{% include text-entry-list.html 
        paragraphs= include.data.paragraphs 
    %} --> 

    <ul class= "entry-list product-features-entry-list"> 
    {% for entry in include.data.sections %} 
        {% assign sectionName= entry[ 0 ] %} 
        {% assign data= entry[ 1 ] %}

        <li class= "entry product-feature has-icon"> 
            <h5 class= "heading subheading product-feature-subheading">{{ data.subheading }}</h5> 
            <h3 class= "heading product-feature-heading">{{ data.heading }}</h3> 

            {% assign linkTarget= "/rocket-website-features" | append: "#" | append: sectionName | append: "-section" %} 
            {% include link.html 
                className= "button read-more-button has-icon" 
                target= linkTarget 
                text= site.data.settings.buttons.outerPageLink.text 
            %}
        </li>
    {% endfor %}
    </ul> 
</section>