<section class= "section page-preview-section product-features-section"> 
    <h5 class= "heading subheading section-subheading">{{ include.data.subheading.text }}</h5> 
    <h2 class= "heading section-heading">{{ include.data.heading.text }}</h2> 
    {% include text-entry-list.html 
        paragraphs= include.data.paragraphs 
    %}

    <ul class= "entry-list product-features-entry-list"> 
    {% for entry in include.data.body %} 
        <li class= "entry product-feature"> 
            <h5 class= "heading subheading product-feature-subheading">{{ entry.subheading.text }}</h5> 
            <h3 class= "heading product-feature-heading">{{ entry.heading.text }}</h3> 
        </li>
    {% endfor %}
    </ul> 
</section>