{% assign head= include.projectPreview %} 


<section class= "project-preview-text-content"> 
    {% include heading.html 
        className= "project-preview-heading" 
        level= 3 
        text= head.heading.text 
    %} 

    {% for paragraph in head.description %} 
        {% include paragraph.html 
            text= paragraph.text 
        %} 
    {% endfor %} 

    <section class= "button-set project-details-button-set"> 
        {% include button.html 
            className= "button-open button-open-project-details" 
            text= "Project Details" 
        %} 
        {% include button.html 
            className= "button-open button-open-project-review" 
            text= "Project Review" 
        %} 
    </section> 
</section>

{% include featured-image.html 
    image= head.image 
%}