{% capture body %}

<ul class= "project-screenshot-list"> 
{% assign last= include.projectScreenshotEntryList | size %} 
{% for i in ( 0..last ) %} 
    <li class= "project-screenshot-entry" id= "screenshot-{{ i | plus: 1 }}"> 
        {% assign imagePath= include.projectScreenshotDirectory | append: "/" | append: include.projectScreenshotEntryList[ i ].src %} 
        {% include image.html 
            className= "project-screenshot" 
            src= imagePath 
        %}
    </li> 
{% endfor %} 
</ul> 

<ol class= "project-screenshot-random-access-list"> 
{% assign last= include.projectScreenshotEntryList | size %}
{% for i in ( 0..last ) %} 
    <li class= "project-screenshot-random-access-entry"> 
        <a class= "button project-screenshot-select-button" href= "#screenshot-{{ i | plus: 1 }}"></a> 
    </li> 
{% endfor %} 
</ol> 

{% endcapture %}


{% include project-page/project-section.html 
    name= "screenshots" 
    heading= "Скрийншоти" 
    body= body 
%}