<section class= "section page-preview-section projects-section"> 
    {% include section-head.html 
        head= include.head 
    %} 

    <ul class= "entry-list project-entry-list"> 
    {% for entry in include.body %} 
        {% assign projectEntry= entry[ 1 ] %} 

        <li class= "entry project-entry"> 
            {% include project-preview.html 
                heading= projectEntry.title 
                description= projectEntry.sections.description.paragraphs 
                image= projectEntry.image 
            %} 
        </li> 
    {% endfor %}
    </ul> 
</section>