<section class= "section page-preview-section projects-section"> 
    {% include section-head.html 
        head= include.head 
    %} 

    <section class= "project-preview-section-body"> 
        
        <ul class= "entry-list project-entry-list"> 
        {% for entry in include.body %}  
            {% assign projectEntry= site.data.projects[ entry.dataFileName ] %} 

            <li id= "{{ entry.label }}-project-entry" class= "entry project-entry {{ entry.label }}-project-entry"> 
                {% include project-preview.html 
                    heading= projectEntry.title 
                    description= projectEntry.sections.description.paragraphs 
                    image= projectEntry.image 
                    url= entry.url 
                %} 
            </li> 
            
        {% endfor %} 
        </ul> 

        <ol class= "entry-list random-access-entry-list project-preview-random-access-entry-list"> 
        {% for entry in include.body %} 
            {% assign projectEntry= site.data.projects[ entry.dataFileName ] %} 
            
            <li class= "entry random-access-entry"> 
                <!-- {% include heading.html 
                    level= 4 
                    text= projectEntry.title 
                %}  --> 
                
                {% assign targetSectionID= entry.label | append: "-project-entry" %} 
                {% include inner-link.html 
                    targetSectionID= targetSectionID  
                %} 

                {% include featured-image.html 
                    image= projectEntry.image 
                %} 
            </li> 
        {% endfor %}
        </ol> 

    </section>
</section>