{% assign reviewer= include.reviewEntry.reviewer %} 
{% assign review= include.reviewEntry.review %} 

<article class= "entry-head review-entry-head"> 
    {% include accessibility-heading.html text= "Client" %} 
    {% include client.html className= "client" client= reviewer %} 
    {% include button.html text= "Read More" %} 
</article> 

<blockquote class= "entry-body review-entry-body body-expandable"> 
    {% include heading.html level= 5 text= "Review" %} 
    {% include block.html level= 3 block= review %} 
</blockquote>