<section class= "section page-preview-section reviews-section"> 
    {% include section-head.html 
        head= include.head 
    %} 

    <ul class= "entry-list review-entry-list"> 
    {% for review in include.body %} 
        {% assign profile= site.data.representatives | where: "id", review.representativeId | first %} 

        <li class= "entry review-entry entry-expandable"> 
            {% include review.html 
                review= review.body 
                profile= profile 
            %} 
        </li> 
    {% endfor %}
    </ul>
</section>