{% assign reviewer= include.reviewEntry.reviewer %} 
{% assign review= include.reviewEntry.review %} 

<article class= "entry-head review-entry-head"> 
    {% include accessibility-heading.html text= "Client" %} 
    {% include client.html className= "client" client= reviewer %} 
    {% include button.html text= "Read More" %} 
</article> 

<section class= "entry-body review-entry-body body-expandable"> 
    <blockquote class= "review"> 
        {% include featured-image.html src= "" %} 
        {% include block.html level= 3 block= review %}  
    </blockquote>
    {% include button.html className= "button button-close button-review-close" text= "Close" %} 
</section>