<section class= "page-head multiple-entry-page-head sell-points"> 
    {% include accessibility-heading.html 
        text= include.data.heading.text 
    %} 

    <ul class= "entry-list page-head-entry-list sell-points-entry-list"> 
    {% for entry in include.data.entryList %} 
        <li class= "entry page-head-entry sell-points-entry"> 
            <section class= "text-content page-head-text-content"> 
                {% include id.html 
                    tagline= site.data.id.tagline 
                %} 

                <h5 class= "heading subheading sell-points-entry-subheading">{{ entry.subheading.text  }}</h5> 
                
                <h3 class= "heading sell-points-entry-heading">{{ entry.heading.text }}</h3> 

                {% include text-entry-list.html 
                    paragraphs= entry.paragraphs 
                %} 

                {% include inner-link.html 
                    className= "button read-more-button has-icon" 
                    targetSectionID= "product-features-section" 
                    text= entry.button.text 
                %}

                {% include featured-image.html 
                    image= entry.image 
                %}  
            </section> 

            {% include featured-image.html 
                image= entry.image 
            %} 
        </li> 
    {% endfor %}
    </ul> 
</section> 