<section> 
    {% include heading.html 
        level= 5 
        text= site.data.sellPoints.heading.text 
    %} 

    <ul>
    {% for entry in site.data.sellPoints.entryList %} 
        <li> 
            {% include heading.html 
                level= 3 
                text= entry.heading.text 
            %} 

            {% for paragraph in entry.paragraphs %} 
                {% include paragraph.html 
                    text= paragraph.text 
                %} 
            {% endfor %} 

            {% include feature-image.html 
                image= entry.image  
            %}
 
            {% include button.html 
                text= entry.button.text 
            %}  
        </li> 
    {% endfor %}
    </ul>

</section>