<div class= "block-chart website-structure-chart"> 
    
    <div class= "chart-body"> 
        <div class= "block page-block home-page-block">Начало</div> 

        <div class= "block-list inner-page-block-list"> 
            <div class= "block page-block about-page-block">За нас</div> 
            <div class= "block page-block services-page-block">Услуги</div>
            <div class= "block page-block portfolio-page-block">Избрани проекти</div> 
            <div class= "block page-block contact-page-block">Контакти</div>
        </div> 
    </div> 

</div> 
