<ul class= "entry-list overview-section-entry-list workflow-section-entry-list"> 
{% for entry in include.workflowEntryList %} 
    {% assign sectionName= entry[ 0 ] %} 
    {% assign sectionData= entry[ 1 ] %}

    <li class= "entry overview-section-entry workflow-section-entry{% if sectionData.price.value.int != '0' %}{{ ' paid' }}{% endif %}"> 
        {% include heading.html 
            className= "overview-section-entry-heading" 
            level= 3 
            text= sectionData.heading 
        %} 

        {% if include.price %} 
            {% include price.html 
                price= sectionData.price 
            %}
        {% endif %}
        
        {% if include.button %} 
            {% assign linkTarget= "/workflow" | append: "#" | append: sectionName | append: "-section" %} 
            {% include link.html 
                className= "button read-more-button has-icon" 
                target= linkTarget
                text= site.data.settings.buttons.outerPageLink.text 
            %} 
        {% endif %} 
    </li>
{% endfor %} 
</ul> 
