.block-chart { 
    --chart-width: 20%; 
    --chart-padding-y: 5em; 
    --chart-padding-x: 1.25rem; 

    --block-count: 1; 
    --block-distance-x: 0em; 
    --block-distance-y: 2em; 
    --block-width: calc( ( 100% - ( var( --block-count ) - 1 ) * var( --block-distance-x ) ) / var( --block-count ) ); 
    --block-height: 10em; 
    --block-indent-x: 4em; 

    --line-width: 1px; 

    --process-flow-line-top: 0; 
    --process-flow-line-right: 0; 
    --process-flow-line-bottom: 0; 
    --process-flow-line-left: 0; 

    --chart-background-color: white; 
    --chart-text-color: var( --text-color );
    --line-color: var( --chart-text-color ); 
    --block-background-color: var( --chart-background-color ); 
    --process-flow-line-color: var( --line-color ); 

    --block-text-font-family: Arial; 
    --block-text-font-size: 0.75rem; 

}

.block-chart {  
    padding: var( --chart-padding-y ) var( --chart-padding-x ); 
    background-color: var( --chart-background-color ); 
    color: var( --chart-text-color ); 
    font-family: var( --block-text-font-family ); font-size: var( --block-text-font-size );  
    text-align: center; 

} 

.chart-body { 
    max-width: var( --chart-width ); margin-left: auto; margin-right: auto;  
    position: relative; 

} 

.chart-block-list { 
    display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; 

} 

.chart-block {  
    box-sizing: border-box; 
    display: flex; flex-direction: column; justify-content: center; align-items: center; 
    width: var( --block-width ); min-height: var( --block-height );  
    padding-top: 2.5rem; padding-bottom: 2.5rem; 
    margin-right: var( --block-distance-x ); margin-top: var( --block-distance-y ); 
    position: relative; z-index: 2; 
    background-color: var( --block-background-color ); 
    border: var( --line-width ) solid;  
    text-transform: uppercase; 

} 

.block-chart .read-more-button { 
    width: 100%; height: 100%; 
    position: absolute; 
    border-radius: 0; border: none; 
    text-indent: -10000px; 

} 

.chart-block:hover { 
    background-color: var( --chart-text-color ); 
    color: var( --block-background-color ); 

}

.chart-process-flow { 
    display: block; 
    position: absolute; z-index: 1; 
    top: calc( var( --block-height ) / 2 ); bottom: calc( var( --block-height ) / 2 ); 
    border-style: solid; border-color: var( --line-color ); 
    border-width: 
        calc( var( --process-flow-line-top ) * var( --line-width ) ) 
        calc( var( --process-flow-line-right ) * var( --line-width ) ) 
        calc( var( --process-flow-line-bottom ) * var( --line-width ) ) 
        calc( var( --process-flow-line-left ) * var( --line-width ) ); 

} 

.chart-process-flow:before, 
.chart-process-flow:after { 
    box-sizing: border-box; 
    display: block; 
    width: 0; height: 0; 
    position: absolute; z-index: 1; 
    left: 100%; margin-left: -10px; margin-bottom: -10px; 
    border-style: solid; border-color: var( --line-color ) transparent; border-width: 0 10px 20px 10px; 
    content: ""; 

} 

.chart-process-flow:before {  
    top: calc( ( 100% - var( --block-height ) ) / 4 ); 

} 

.chart-process-flow:after { 
    bottom: calc( ( 100% - var( --block-height ) ) / 4 ); 

} 


.chart-block:nth-child( -n + 1 ) { 
    margin-top: 0; 

} 

.chart-block-heading { 
    margin-bottom: 0.4em; 
    font-family: inherit; 

}



    
