/* Sets number of columns and column gutters */
.building-block-entry-list { 
    --column-count: 4; 
    --column-gutter-x-width: 0.8rem; 

} 

/* Icon inserted in building block element */ 
.building-block-entry:before { 
    display: block; 
    content: "\f383"; 
    font-family: var( --icon-font-family ); font-size: 1.8em; 

}

.building-block-entry .entry-head { 
    padding-top: var( --building-block-head-padding-y ); 
    /* padding-bottom: var( --building-block-head-padding-y );  */ 
    text-align: center; 
} 

/* Styles block checkbox */
.building-block-entry .add-block { 
    display: inline-block; display: none; 
    margin-bottom: var( --building-block-add-block-margin-bottom ); 
    width: var( --building-block-add-block-side ); height: var( --building-block-add-block-side ); 

} 

.building-block-price .price-block-heading { 
    padding: 0.4em; 
    background-color: var( --text-color ); 
    color: white; 

} 

.building-block-button-open { 
    /* border: none;  */ 
    /* border-radius: 0;  */ 

}

/* Hides block body until button click */
.building-block-entry .body { 
    height: 0; overflow: hidden; 

} 


@media screen and ( min-width: 841px ) { 
    .building-block-entry:nth-child( 4n ) { 
        margin-right: 0; 
    } 
    
    .building-block-entry:nth-child( -n + 4 ) { 
        margin-top: 0; 
    } 
  
} 

@media screen and ( max-width: 840px ) and ( min-width: 641px ) { 
    .building-block-entry-list { 
        --column-count: 3; 
    } 
    
    .building-block-entry:nth-child( 3n ) { 
        margin-right: 0; 
    } 
    
    .building-block-entry:nth-child( -n + 3 ) { 
        margin-top: 0; 
    } 
    
} 

@media screen and ( max-width: 640px ) and ( min-width: 461px )  { 
    .building-block-entry-list { 
        --column-count: 2; 
    } 
    
    .building-block-entry:nth-child( 2n ) { 
        margin-right: 0; 
    } 
    
    .building-block-entry:nth-child( -n + 2 ) { 
        margin-top: 0; 
    } 
    
} 

@media screen and ( max-width: 460px ) { 
    .building-block-entry-list { 
        --column-count: 1; 
    } 
    
    .building-block-entry:nth-child( n ) { 
        margin-right: 0; 
    } 
    
    .building-block-entry:nth-child( -n + 1 ) { 
        margin-top: 0; 
    } 
    
}