/* Sets column gutters */
.building-block-entry-list { 
    --column-gutter-x-width: var( --building-block-entry-list-column-gutter-x-width ); 

} 

/* Inserts an icon in building block element */ 
.building-block-entry:before { 
    display: block; 
    margin-bottom: var( --building-block-icon-margin-bottom ); 
    content: var( --building-block-icon-code ); 
    font-size: var( --building-block-icon-font-size ); 

}

.building-block-price .price-block-heading { 
    padding: var( --building-block-price-block-heading-padding ); 
    background-color: var( --text-color ); 
    color: var( --building-block-price-block-heading-color ); 

} 


/* Defines 4 columns for screens that comfortably display 4 columns */
@media screen and ( min-width: 881px ) { 
    .building-block-entry-list { 
        --column-count: 4; 

    } 

    .building-block-entry:nth-child( 4n ) { 
        margin-right: 0; 
    } 
    
    .building-block-entry:nth-child( -n + 4 ) { 
        margin-top: 0; 
    } 
  
} 

@media screen and ( max-width: 880px ) { 
    .building-block-entry-list { 
        --column-gutter-y-width: 3.5rem; 
    } 

}

/* Defines 2 columns for screens, that could not comfortably display 4 columns */
@media screen and ( max-width: 880px ) and ( min-width: 641px ) { 
    .building-block-entry-list { 
        --column-count: 2; 

    } 
    
    .building-block-entry:nth-child( 2n ) { 
        margin-right: 0; 
    } 
    
    .building-block-entry:nth-child( -n + 2 ) { 
        margin-top: 0; 
    } 
    
} 

/* Defines 1 column on screens, that could not comfortably display 2 columns */
@media screen and ( max-width: 640px ) { 
    .building-block-entry-list { 
        --column-count: 1; 
    } 
    
    .building-block-entry:nth-child( n ) { 
        margin-right: 0; 
    } 
    
    .building-block-entry:nth-child( -n + 1 ) { 
        margin-top: 0; 
    } 
    
}