@import url( "./price-entry-list.css" ); 


.building-price-entry-list { 
    /*--column-count: 2; */ 
    --column-gutter-x-width: 1.2rem; 
    --column-gutter-y-width: 7em; 

} 

/*.building-price-entry:nth-child( 2n ) { 
    margin-right: 0; 
} 

.building-price-entry:nth-child( -n + 2 ) { 
    margin-top: 0; 
} */

.building-price-entry-list { 
    width: 100%; 
    margin-top: 5rem; 

}

/* Defines 4 columns for screens that comfortably display 4 columns */
/*@media screen and ( min-width: 881px ) { 
    .building-price-entry-list { 
        --column-count: 4; 

    } 

    .building-price-entry:nth-child( 4n ) { 
        margin-right: 0; 
    } 
    
    .building-price-entry:nth-child( -n + 4 ) { 
        margin-top: 0; 
    }  
  
} */

/*@media screen and ( max-width: 880px ) { 
    .building-price-entry-list { 
        --column-gutter-y-width: 3.5rem; 
    } 

}*/ 

/* Defines 2 columns for screens, that could not comfortably display 4 columns */
@media screen and ( min-width: 781px ) { 
    .building-price-entry-list { 
        --column-count: 2;  

    } 
    
    .building-price-entry:nth-child( 2n ) { 
        margin-right: 0; 
    } 
    
    .building-price-entry:nth-child( -n + 2 ) { 
        margin-top: 0; 
    } 
    
} 

/* Defines 1 column on screens, that could not comfortably display 2 columns */
@media screen and ( max-width: 780px ) { 
    .building-price-entry-list { 
        --column-count: 1; 
        --column-gutter-y-width: 4em; 

    } 
    
    .building-price-entry:nth-child( n ) { 
        margin-right: 0; 
    } 
    
    .building-price-entry:nth-child( -n + 1 ) { 
        margin-top: 0; 
    } 
    
} 