.button { 
    /* Ensures button width would depend on button text length */ 
    display: inline-block; 

    /* Sets button height without restricting it */
    min-height: var( --button-height ); 

    /* Centers button text vertically */ 
    line-height: var( --button-height ); 

    /* Gives horizontal space around button text  */
    padding-left: var( --button-padding-x ); padding-right: calc( var( --button-padding-x ) / 2.5 ); 

    /* Sets button border */
    border-width: var( --button-border-width ); border-style: solid; border-color: unset; 
    border-radius: var( --button-border-radius ); 

    /* Sets button color */
    background-color: var( --button-background-color ); 
    color: inherit; 

    /* Sets button font */
    font-family: var( --button-font-family ); 
    font-size: var( --button-font-size ); 
    text-transform: uppercase; 

    cursor: pointer; 

} 

/* Sets button appearance on hover */
.read-more-button:hover {  
    background-color: var( --button-hover-background-color ); 
    color: var( --button-hover-text-color ); 
    border-color: var( --button-hover-background-color ); 

}