.button { 
    /* Ensures button width would depend on button text length */ 
    display: inline-block; 

    /* Sets button height without restricting it */
    /*min-height: var( --button-height ); */ 

    /* Centers button text vertically */ 
    line-height: var( --icon-side ); 

    /*padding-top: 0.5em; padding-bottom: 0.5em; */ 

    /* Gives horizontal space around button text  */
    padding-left: var( --button-padding-x ); padding-right: var( --button-padding-x ); 

    /* Sets button border */
    border-width: var( --button-border-width ); border-style: solid; border-color: unset; 
    border-radius: var( --button-border-radius ); 

    /* Sets button color */
    background-color: var( --button-background-color ); 
    color: inherit; 

    /* Sets button font */
    font-family: var( --button-font-family ); 
    font-size: var( --button-font-size ); 
    text-transform: uppercase; 

    cursor: pointer; 

} 

/* Defines button appearance on hover */
.read-more-button:hover {  
    background-color: var( --button-hover-background-color ); 
    color: var( --button-hover-text-color ); 
    border-color: var( --button-hover-background-color ); 

} 

/* Sets button default vertical distance from a preceding element */
.button { 
    margin-top: 2rem; 

} 

/* Sets button default vertical distance from a heading */
.heading + .button { 
    margin-top: 1.5rem; 

}

/* Sets button default vertical distance from a price block */
.price + .button { 
    margin-top: 2.7em; 

} 

/* Removes vertical distance between buttons */
.button + .link.button { 
    margin-top: 0; 

}


@media screen and ( max-width: 780px ) { 
    
} 

@media screen and ( max-width: 420px ) { 

    :root { 
        --icon-side: 3rem; 

    }

    /* Resets button vertical distance from a price block */
    .price + .button { 
        margin-top: 0.8em; 

    } 

    /* Resets button default vertical distance from a heading */
    .heading + .button { 
        margin-top: 1em; 
    
    } 

    .button + .link.button { 
        /* Sets a line between two or more buttons for improving visual separation */
        border-top: 1px solid rgba( 255, 255, 255, 0.2 ); 
        /*background-color: white; 
        color: var( --text-color ); */
    
    }
    
} 


