.client-picture { 
    display: block; 
    width: 25%; padding-top: 25%; 
    margin-left: auto; margin-right: auto; 
    margin-bottom: 1.2rem;  
    border: 1px solid red; 
    border-radius: 50%; 
    background-color: rgb( 255, 255, 255 );   

} 

.client-picture img { 
    display: none; 
}