.copyright-notice { 
    /* Places elements on a row and centers them */ 
    display: flex; flex-direction: row; justify-content: center; align-items: center; flex-wrap: wrap; 
    /* margin-left: var( --page-inner-padding-x-correction ); margin-right: var( --page-inner-padding-x-correction );  */
    padding-top: var( --copyright-notice-padding-y ); padding-bottom: var( --copyright-notice-padding-y ); 

    /* Sets copyright notice color */
    background-color: var( --copyright-notice-background-color ); 
    color: var( --copyright-notice-text-color ); 

    /* Sets copyright notice font */ 
    font-family: var( --copyright-notice-font-family ); 
    font-size: var( --copyright-notice-font-size ); 

    /* text-align: center;  */ 
    overflow: auto; 
} 

/* Sets horizontal distance between elements */ 
/* .copyright-notice > *:not( :last-child ) { 
    margin-right: var( --copyright-notice-element-margin-x ); 
} */ 

.copyright-notice .key { 
    display: none; 

} 

.copyright-notice > *:not( :last-child ) { 
    padding-right: var( --copyright-notice-separator-width ); 
    position: relative; 
}

/* .copyright-notice > *, 
.copyright-notice .value { 
    display: inline-block; 

} */

.copyright-notice > *:not( :last-child ):after { 
    display: block; 
    width: var( --copyright-notice-separator-width ); height: var( --copyright-notice-separator-height ); line-height: var( --copyright-notice-separator-height ); 
    position: absolute; right: 0; 
    top: 0; 
    /* background-color: var( --text-color-inverted );   */ 
    font-family: var( --icon-font-family ); font-size: var( --copyright-notice-separator-font-size ); 
    text-align: center; 
    content: var( --copyright-notice-separator-icon-code ); 

} 

@media screen and ( max-width: 480px ) { 
    
} 
