.copyright-notice { 
    /* Places elements on a row and centers them */ 
    display: flex; flex-direction: row; justify-content: center; align-items: center; flex-wrap: wrap;
    /* margin-left: var( --page-inner-padding-x-correction ); margin-right: var( --page-inner-padding-x-correction );  */
    padding-top: var( --copyright-notice-padding-y ); padding-bottom: var( --copyright-notice-padding-y ); 

    /* Sets copyright notice color */
    background-color: var( --copyright-notice-background-color ); 
    color: var( --copyright-notice-text-color ); 

    /* Sets copyright notice font */ 
    font-family: var( --copyright-notice-font-family ); 
    font-size: var( --copyright-notice-font-size ); 

    text-align: center;  
    overflow: auto; 
} 

.copyright-notice > * {  
    height: var( --copyright-notice-height ); line-height: var( --copyright-notice-height );  
    font-size: inherit; 

} 

/*.copyright-notice > *:not( :first-child ) { 
    margin-left: 0.5em; 

} */ 

/* Sets horizontal distance between elements */ 
/* .copyright-notice > *:not( :last-child ) { 
    margin-right: var( --copyright-notice-element-margin-x ); 
} */ 

.copyright-notice .key { 
    display: none; 

} 

/* .copyright-notice > *, 
.copyright-notice .value { 
    display: inline-block; 

} */ 

.copyright-notice > :first-child { 
    border: 1px solid; 

} 

.copyright-notice > :last-child { 
    border-left: 1px solid; 

}

.copyright-notice .value, 
.copyright-notice .notice { 
    padding: 0 0.8em; 

}

.copyright-notice .value { 
    box-sizing: border-box; 
    height: inherit;   
    position: relative; 

}

/*.copyright-notice .value:after {  
    width: var( --copyright-notice-separator-width ); 
    position: absolute; right: 0; top: 0; 
    font-family: var( --icon-font-family ); font-size: var( --copyright-notice-separator-font-size ); 
    content: var( --copyright-notice-separator-icon-code ); 

} */

@media screen and ( max-width: 480px ) { 
    
} 
