.features-entry-list {  
    --icon-code: "\f383"; 

} 

.features-section { 
    max-width: none; 

} 

.text-entry + .features-entry-list, 
.heading + .features-entry-list {
    margin-top: var( --text-margin-bottom  ); 

}

.feature { 
    box-sizing: border-box; 
    padding: 2.2em;
    position: relative;

}  

.feature:before { 
    margin-bottom: 2em; 
    font-size: 2em; 

}

.feature { 
    --icon-font-size: 2rem; 
    --icon-holder-height: 0.5em; 
    --icon-holder-width: 50%;
    --icon-holder-border-width: 1px; 
    --icon-holder-border-color: inherit; 
    --icon-holder-border-radius: 8px; 
    --icon-holder-background-color: transparent; 
    --icon-holder-margin-bottom: 0.8em; 
    --icon-border-width: 0; 
    --icon-border-radius: 0; 
    --icon-border-color: inherit; 
    --icon-color: inherit; 
    --icon-background-color: transparent;  

}

.feature .icon-holder { 
    box-sizing: border-box; 
    display: flex; justify-content: center; align-items: center; 
    height: 2rem; width: var( --icon-holder-width ); height: var( --icon-holder-height ); 
    margin-bottom: var( --icon-holder-margin-bottom ); 
    margin-left: auto; margin-right: auto; 
    background-color: var( --icon-holder-background-color ); 
    border-width: var( --icon-holder-border-width ); border-style: solid; border-color: var( --icon-holder-border-color ); 
    border-radius: var( --icon-holder-border-radius );
    font-size: var( --icon-font-size ); 
    transform: rotateZ( -45deg ); 

} 

.feature ion-icon {  
    font-size: inherit;     
    color: var( --icon-color ); 
    background-color: var( --icon-background-color ); 
    border-width: var( --icon-border-width ); border-style: solid; border-color: var( --icon-border-color ); 
    border-radius: var( --icon-border-radius ); 
    transform: rotateZ( 45deg ); 

} 

.feature-subheading { 
    margin-bottom: 0.25em; 
    font-size: 0.9em; 

}

.feature-heading { 
    margin-bottom: 0; 
    font-size: 1.4em; 
    line-height: 1.3; 

} 



.features-section .read-more-button { 
    margin-top: 2.5em; 

} 


@media screen and ( min-width: 881px ) { 
    .features-entry-list { 
        --column-count: 3; 
        --column-gutter-x-width: 1.5em;  

    } 

    .feature:nth-child( 3n ) { 
        margin-right: 0; 
    } 
    
    .feature:nth-child( -n + 3 ) { 
        margin-top: 0; 
    } 

    .feature { 
        min-height: 14em; 

    } 
    
} 


@media screen and ( max-width: 880px ) { 
    
    
} 