/* Defines an entry set of contacts (i.e. 'phone'), each containing a list of its own entries (i.e. 'home', 'office' etc.) */
.quick-contact-entry-set { 
    --column-count: 2; 
    --column-gutter-x-width: 0rem; 
} 

/* Defines the number of columns, aligning contact entries */
.contact-entry-list { 
    --column-count: 1; 
    --column-gutter-x-width: 0rem; 
} 

.quick-contact-entry-set { 
    margin-left: auto; margin-right: auto; 
    max-width: var( --send-message-form-width ); 

}

/* Removes last column right margin */
.quick-contact-entry:nth-child( 2n ) { 
    margin-right: 0; 
} 

/* Removes unneccessary margin top from entries, located on the first row */
.quick-contact-entry:nth-child( -n + var( --column-count ) ) { 
    margin-top: 0; 
}

/* Defines a single contact entry in a single contact */
.quick-contact-entry { 
    position: relative; 
    text-align: center; 
} 

/* Defines entry separator */
.quick-contact-entry:not( :last-child ):after { 
    box-sizing: border-box; background-clip: content-box; 
    display: block; 
    width: var( --contact-separator-width ); 
    /* Sets separator height */
    height: var( --contact-separator-height ); 
    /* Sets separator vertical position in a sense, because of the 'border-box' setting */ 
    padding-top: var( --contact-separator-padding-top ); padding-bottom: var( --contact-separator-padding-bottom ); 
    /* Positions separator absolutely and centers it vertically */
    position: absolute; right: 0; top: 50%; transform: translateY( -50% ); 
    background-color: var( --contact-separator-color );  
    content: ""; 

}

/* Styles contact heading */
.contact-heading {  
    display: none; 
    margin-bottom: var( --contact-heading-margin-bottom );  
    font-size: var( --contact-heading-font-size ); 
    text-transform: uppercase; 

}

/* Single entry value in a contact */ 
.quick-contact-entry .value { 
    margin-bottom: var( --contact-entry-value-margin-bottom ); 
    font-family: var( --contact-entry-value-font-family ); 
    font-size: var( --contact-entry-value-font-size ); 
    font-weight: 700; 
    /* text-transform: uppercase; */ 

} 

/* Sets default icon font size */
.contact:before { 
    font-size: var( --contact-icon-font-size ); 
}

/* Phone icon */
.phone:before { 
    /* font-size: calc( 0.8 * var( --contact-icon-font-size ) );  */ 
    content: var( --contact-phone-icon );   
} 

/* Email icon */
.email:before { 
    content: var( --contact-email-icon ); 
} 

/* Working-hours icon */
.working-hours:before { 
    content: var( --contact-working-hours-icon ); 
} 

@media screen and ( max-width: 480px ) { 
    .footer .quick-contact-entry-set { 
        --column-count: 1;                  
        --column-gutter-x-width: 0rem; 
        --column-gutter-y-width: 2.5em; 
    } 

    .footer .quick-contact-entry-set { 
        margin-top: 0; 
    
    } 

    .footer .quick-contact-entry:not( :last-child ):after { 
        content: none; 
    
    }
    
    
} 

