.form { 
    /* Directs form elements in a row with the intention to imply columns by assigning widths */
    display: flex; flex-direction: row; flex-wrap: wrap; 

} 

.field { 
    box-sizing: border-box; 
    display: block; 
    border-width: 1px; border-style: solid; border-color: inherit; 
    background-color: transparent; 
    color: inherit;  

}