@import url( "./id.css" ); 
@import url( "./main-nav.css" ); 
@import url( "./quick-contact.css" ); 


.site-header { 
    /* Used for centering header direct descendant elements, main navigation by the time */
    /* display: flex; flex-direction: row; justify-content: center; align-items: center;  */ 
    /* Replaced 'width= 100%' to avoid overflow, caused by page content padding, set on 'body' element */ 
    /* left: 0; right: 0;  */ 
    /* Removes header from content flow to place it in front of sell points section */
    /* position: relative; z-index: 3;   */ 

} 

.site-header .id, 
.site-header .quick-contact { 
    display: none; 

} 
