@import url( "./id.css" ); 
@import url( "./main-nav.css" ); 
@import url( "./quick-contact.css" ); 


.site-header { 
    display: flex; flex-direction: row; justify-content: center;
    width: 100%; 
    position: absolute; 

} 

.site-header .id, 
.site-header .quick-contact { 
    display: none; 

}
