.has-icon:before { 
    display: block; 
    /* Sets icon size */ 
    width: var( --icon-side ); height: inherit; line-height: inherit; 
    /* Centers icon element in horizontal direction */
    margin-left: auto; margin-right: auto;  
    /* Centers icon character in horizontal and vertical direction */ 
    text-align: center; 

    /* Sets icon font */
    font-family: var( --icon-font-family ); font-weight: normal; 
    text-indent: 0;
    content: var( --icon-code ); 
    
} 
