.footer .id { 
    margin-bottom: var( --footer-id-margin-bottom ); 
    text-align: center; 
} 

.footer .logo { 
    display: inline-block; 
    width: var( --footer-logo-width ); height: var( --footer-logo-height ); 
    margin-bottom: var( --footer-logo-margin-bottom ); 
    background-color: rgb( 255, 0, 0 ); 
    text-indent: -10000px; 

}