.logo { 
    display: inline-block; 
    width: var( --logo-width ); height: var( --logo-height ); 
    background-image: url( "/assets/images/logo.png" ); 
    background-size: contain; background-repeat: no-repeat; background-position: center bottom; 
    text-indent: -10000px; 
}

.id .description { 
    box-sizing: border-box; 
    margin-left: auto; margin-right: auto; 
    padding-left: 10rem; padding-right: 10rem; 
    max-width: var( --page-inner-width ); 
} 

.id .tagline { 
    position: absolute; left: -10000px; 

}

.footer .id { 
    margin-bottom: var( --footer-id-margin-bottom ); 
    text-align: center;  
} 

.footer .logo { 
    margin-bottom: var( --footer-logo-margin-bottom ); 
    /* background-color: var( --text-color );  */ 
    background-image: url( "/assets/images/logo-footer.png" ); 
} 


@media screen and ( max-width: 841px ) { 
    .id .description { 
        padding-left: var( --page-inner-padding-x ); padding-right: var( --page-inner-padding-x ); 
    } 
  
} 
