@import url( "./showcase-image.css" ); 

.featured-image { 
    background-size: cover; background-position: center top; 

} 

.page-head .featured-image, 
.project-entry .featured-image, 
.random-access-entry .featured-image { 
    filter: grayscale( 100 );  
    opacity: 0.125; 

} 

.featured-image img { 
    display: none; 

}