@import url( "./showcase-image.css" ); 

.featured-image { 
    background-size: cover; background-position: center top; 

} 

.page-head .featured-image, 
.project-entry .featured-image, 
.random-access-entry .featured-image { 
    filter: grayscale( 100 );  

} 

.page-head .featured-image, 
.random-access-entry .featured-image {  
    opacity: 0.125; 

} 

.project-entry .featured-image, 
.random-access-entry .featured-image {  
    opacity: 1; 

}
 
/*.random-access-entry .featured-image { 
    opacity: 0.35; 

}*/ 

.featured-image img { 
    display: none; 

}