.accessibility-heading { 
    display: none; 

} 

/* .page { 
    padding-left: var( --page-inner-padding-x ); padding-right: var( --page-inner-padding-x ); 

} */ 

/* .main > * > .text-entry { 
    padding-left: var( --page-inner-padding-x ); padding-right: var( --page-inner-padding-x ); 

} */  

/* Sets width restriction value on all text entries, section direct descendants, article page body direct descendants, and centers them on large screens */ 
.text-entry, 
.section > *, 
.article-page .page-body > * { 
    max-width: var( --page-inner-width ); 
    margin-left: auto; margin-right: auto; 

} 

/* Removes general width restrictions */ 
.article-page .article-section, 
.article-page .section-body { 
    max-width: none; 

} 

/* Sets side padding on section head text and all text entries on article pages, to provide default distance between text and screen edges on smaller screens */
.section > .text-entry, 
.article-page .text-entry, 
.send-message-form { 
    padding-left: var( --page-inner-padding-x ); padding-right: var( --page-inner-padding-x ); 

} 

/* Clears copyright notice text entry margin to keep flexbox as positioning means and text entry padding to keep its text position in place */
.copyright-notice .text-entry { 
    margin-left: 0; margin-right: 0; 
    padding-left: 0; padding-right: 0; 

}

/* .section { 
    max-width: var( --page-inner-width ); 
    margin-left: auto; margin-right: auto; 
    padding-left: var( --page-inner-padding-x ); padding-right: var( --page-inner-padding-x ); 

} */

/* .product-features-entry-list, 
.building-block-entry-list, 
.project-entry-list { 
    margin-left: calc( -1 * var( --page-inner-padding-x ) ); margin-right: calc( -1 * var( --page-inner-padding-x ) ); 

} */ 