/* Decreases default right padding of buttons with an icon on the right */
.read-more-button.has-icon { 
    padding-right: calc( var( --button-padding-x ) / 2.5 ); 

}

/* Turns back the CSS reset removed default link underlining in text */
.text-entry > .link { 
    text-decoration: underline; 

}

/* Places icon on the right and sets font size */
.link.has-icon:before { 
    float: right; 
    font-size: 1.5rem; 

} 

/* Sets default link icon as a right pointing arrow */
.link.has-icon:before { 
    content: "\f3d6"; 

} 

/* Overrides default link icon with bottom pointing arrow */
.inner-link.has-icon:before { 
    content: "\f3d4"; 

} 


@media screen and ( max-width: 420px ) { 

    .link.read-more-button {  
        /* Multiple line button text on very small screens adjustment */
        display: block; 
        line-height: 1.2; 
        padding-top: 1.2em; padding-bottom: 1.2em; 
        padding-left: 0; padding-right: 0; 
        /* Removes button border */
        border: none; 
        border-radius: 0; 
    
    } 

    .link.read-more-button:before {  
        /* Places icon on top of button text */
        float: none; 
        margin-bottom: 0.5em; 
        /* Sets an icon border */
        border: 1px solid; border-radius: 50%; 
    
    }

    
}

