.main-nav { 
    display: flex; flex-direction: row; justify-content: center; 

} 

.nav-entry {   
    position: relative; 
} 

.nav-entry-current:after { 
    display: block; 
    width: 100%; height: var( --main-nav-link-current-mark-height ); 
    position: absolute; left: 0; top: 0; 
    background-color: red; 
    content: ""; 
} 

.nav-link { 
    display: block; 
    height: var( --main-nav-height ); line-height: var( --main-nav-height ); 
    padding-left: var( --main-nav-link-padding-x ); padding-right: var( --main-nav-link-padding-x ); 

}