.main-nav { 
    display: flex; flex-direction: row; justify-content: center; 
    width: 100%;   
    padding-top: var( --main-nav-padding-top ); padding-bottom: var( --main-nav-padding-bottom ); 
    position: absolute; z-index: 3;  
    background-color: var( --main-nav-background-color ); 
    font-family: "var( --main-nav-font-family )"; 
    font-size: var( --main-nav-font-size ); 
    font-weight: bold; 
    text-align: center; 
    text-shadow: 0 0 0.4px var( --main-nav-text-smooth-color ); 

} 

/* .main-nav > .nav { 
    max-width: var( --page-inner-width ); 
    
} */ 

.main-nav .entry-list { 
    justify-content: center;  
    position: relative; 

} 

.nav-entry {   
    position: relative;  
    color: var( --main-nav-text-color ); 
} 

.nav-entry:after, 
.nav-link:focus:after { 
    display: block; 
    width: 100%; height: var( --main-nav-link-current-mark-height ); 
    position: absolute; left: 0; top: 0; 
    z-index: 1; 
    background-color: var( --main-nav-link-current-mark-color ); 
    content: "";  
} 

/* Clears highlight on click for subnavigation links */ 
.subnav-entry-list .nav-link:focus:after { 
    content: none; 

}

/* Clears main navigation top level link highlight for subnavigation links */
.main-nav .subnav-entry-list .nav-entry:after { 
    content: none; 

}

.nav-entry:after, 
.main-nav .entry-list:hover .nav-entry:after { 
    opacity: 0; 
}

.main-nav .entry-list:hover .nav-entry:hover:after, 
.nav-entry-current:after { 
    opacity: 1; 

} 

/* .main-nav .entry-list:hover .nav-entry:hover .subnav-label, 
.nav-entry-current .subnav-label { 
    background-color: var( --background-color ); 
    color: var( --text-color ); 

} */ 

.nav-entry-text { 
    display: block; 
    height: var( --main-nav-height ); line-height: var( --main-nav-height ); 
    padding-left: var( --main-nav-link-padding-x ); padding-right: var( --main-nav-link-padding-x ); 
    position: relative; z-index: 2; 
    text-align: center; 
    text-transform: uppercase;  
} 

.subnav-label { 
    display: inline-block; 
    cursor: default; 

} 

.subnav-label:before { 
    position: absolute; right: 0;  
    font-size: 1.4em; 

}

.main-nav .subnav-entry-list { 
    /* min-width: 100%;  */ 
    padding: 0 1rem;  
    position: absolute; top: -10000px; left: 0; 
    z-index: 3; 
    background-color: var( --background-color );  

} 

.main-nav .subnav-entry-list .nav-entry { 
    width: 100%; 
    color: var( --text-color ); 

} 

.main-nav .subnav-entry-list .nav-link { 
    padding: 0 8rem; 

} 

.main-nav .subnav-entry-list .nav-entry { 
    background-clip: content-box; 

} 

.main-nav .subnav-entry-list .nav-entry:first-child { 
    padding-top: 1rem; 

} 

.main-nav .subnav-entry-list .nav-entry:last-child { 
    padding-bottom: 1rem; 

}

.main-nav .nav-entry:hover .nav-entry-current, 
.main-nav .subnav-entry-list:hover .nav-entry:hover { 
    background-color: var( --text-color ); 
    color: var( --text-color-inverted ); 

} 

.main-nav .subnav-entry-list:hover .nav-entry:not( :hover ), 
.main-nav .subnav-entry-list:hover .nav-entry { 
    background-color: transparent; 
    color: var( --text-color ); 
} 

/* .main-nav .subnav-entry-list .nav-entry { 
    margin-top: 1.2rem; margin-bottom: 1.2rem; 

} */

/* .main-nav .subnav-entry-list .nav-entry { 
    align-self: center; 

} */ 

/* .main-nav .subnav-entry-list > :first-child { 
    margin-top: 1.2rem; 

} 

.main-nav .subnav-entry-list > :last-child { 
    margin-bottom: 1.2rem; 

}  */

.main-nav .nav-entry .subnav-entry-list { 
    top: var( --header-height );  

}

.main-nav .subnav-entry-list .nav-entry:after { 
    background-color: var( --text-color ); 

}

.main-nav-button { 
    display: none;  
    font-family: inherit; font-size: inherit;  

}

.main-nav-button-close { 
    position: absolute; right: 0; top: -10000px; 

}

.main-nav-button.has-icon:before {  
    float: left; 
    height: inherit; line-height: inherit;  

} 

.main-nav-button-open.has-icon:before {  
    content: "\f397"; 
    font-size: 2em; 

} 

.main-nav-button-close.has-icon:before {  
    content: "\f12a"; 
    font-size: 1.4em; 

}

.main-nav-button-label { 
    display: inline-block; 
    height: inherit; 
    cursor: pointer; 
    
} 

@media screen and ( max-width: 1020px ) and ( min-width: 921px ) { 
    .main-nav .subnav-entry-list { 
        left: 50%; transform: translateX( -50% ); 
    
    }


}

@media screen and ( max-width: 920px ) { 

    :root { 
        --sell-points-padding-y: 4.5rem; 
        --main-nav-padding-top: 0rem; 
        --main-nav-padding-bottom: 0rem; 

    } 

    /* .main-nav { 
        background-color: var( --text-color ); 

    }  */ 

    .main-nav { 
        flex-direction: column; justify-content: flex-start; 
        height: var( --main-nav-height ); overflow: hidden;  

    } 

    .main-nav > .nav { 
        display: flex; flex-direction: column; align-items: center; 
        width: 100%; 
        min-height: 100%; 
        padding-top: 4rem; padding-bottom: 4rem; 
        position: absolute; left: -10000px; top: 0; 
        z-index: 2; 
        background-color: var( --text-color ); 

    } 

    /* .main-nav:target .nav { 
        height: 100vh; 

    }  */ 

    .main-nav:target { 
        height: 100%; overflow: auto; 

    } 

    .main-nav:target .main-nav-button-close { 
        top: 0; 

    } 

    .main-nav:target .nav { 
        justify-content: center;  
        left: 0;  

    } 

    .main-nav .entry-list { 
        flex-direction: column; 
        width: 100%; 

    } 

    /* .main-nav .nav-entry-list .nav-entry { 
        overflow: hidden; 
    
    }  */ 

    .main-nav .nav-entry:after { 
        content: none; 

    } 

    /* .main-nav .subnav-entry-list > .nav-entry:after { 
        height: 100%; 
        background-color: transparent; 
        border: 1px solid; 

    }  */ 

    .main-nav .subnav-entry-list {  
        box-sizing: border-box; 
        flex-direction: row; 
        min-width: unset; width: auto; 
        /* padding: 1rem;   */ 
        left: 5%; right: 5%; 
        /* background-color: transparent;  */ 
        /* border: 1px solid;  */ 
        box-shadow: 0 0 15px 5px rgba( 0, 0, 0, 0.2 ); 
    
    } 

    .main-nav .nav-entry:hover .subnav-entry-list { 
        top: 80%; 
    
    }

    .main-nav .subnav-entry-list .nav-entry { 
        /* width: auto;  */ 
        margin-top: 0; margin-bottom: 0; 
    
    } 

    /* .main-nav .subnav-entry-list .nav-link { 
        padding: 0 2rem; 
    
    } */ 

    /* .subnav-label { 
        position: relative; 

    } 

    .subnav-label:after { 
        display: block; 
        width: auto; height: 1px; 
        position: absolute; left: 15%; right: 15%; top: auto; bottom: 0;  
        background-color: var( --text-color ); 
        content: ""; 
        opacity: 1; 
    
    }  */

    .main-nav > .nav > .entry-list:hover > .nav-entry { 
        background-color: transparent; 
        color: var( --text-color-inverted ); 
    }

    .main-nav > .nav > .entry-list:hover > .nav-entry:hover, 
    .nav-entry-current { 
        background-color: var( --text-color-inverted ); 
        color: var( --text-color ); 

    } 

    .main-nav .subnav-entry-list:hover .nav-entry { 
        background-color: transparent; 
        color: var( --text-color ); 
    }

    .main-nav .subnav-entry-list:hover .nav-entry:hover { 
        background-color: var( --text-color ); 
        color: var( --text-color-inverted ); 

    }

    .main-nav-button {    
        display: block; margin-left: auto; margin-right: auto; 
        height: var( --sell-points-padding-y ); line-height: var( --sell-points-padding-y ); 
        border: none;  
        color: var( --text-color-inverted ); 
    
    } 
    
}
