.main-nav { 
    display: flex; flex-direction: row; justify-content: center; 
    width: 100%; 
    padding-top: var( --main-nav-padding-top ); padding-bottom: var( --main-nav-padding-bottom ); 
    position: absolute; 
    background-color: var( --main-nav-background-color ); 

} 

.nav-entry {   
    position: relative; 
    color: var( --main-nav-text-color ); 
} 

.nav-entry:after { 
    display: block; 
    width: 100%; height: var( --main-nav-link-current-mark-height ); 
    position: absolute; left: 0; top: 0; 
    background-color: var( --main-nav-link-current-mark-color ); 
    content: "";  
} 

.nav-entry:after, 
.main-nav:hover .nav-entry:after { 
    opacity: 0; 
}

.main-nav .nav-entry:hover:after, 
.nav-entry-current:after { 
    opacity: 1; 

}

.nav-link { 
    display: block; 
    height: var( --main-nav-height ); line-height: var( --main-nav-height ); 
    padding-left: var( --main-nav-link-padding-x ); padding-right: var( --main-nav-link-padding-x ); 

}