.overview-page-entry-list { 
    --column-count: 1; 

} 

/* .workflow-entry:nth-child( 5n ) { 
    margin-right: 0; 
} */

.overview-page-entry-list { 
    counter-reset: workflow-entry-number; 
} 

.overview-page-entry { 
    counter-increment: workflow-entry-number; 
} 

.overview-page-entry .heading:before { 
    content: counter( workflow-entry-number ); 
} 