@import url( "./overview-page.css" ); 


.overview-page-entry { 
    margin-bottom: var( --workflow-entry-margin-bottom ); 
} 

.overview-page-entry:last-of-type { 
    margin-bottom: 0; 
}

.overview-page-entry .heading:before { 
    display: block;  
} 

.overview-page-entry-heading { 
    margin-bottom: var( --workflow-entry-heading-margin-bottom ); 
    /* font-family: "var( --heading-font-family )";  */ 
    font-size: var( --workflow-entry-heading-font-size ); 
    text-transform: uppercase; 
} 

.page-body .overview-page-entry-list { 
    margin-top: 4rem; 
}

