@import url( "./overview-section.css" ); 


.overview-section-entry-list { 
    --column-gutter-y-width: 5em; 

}

.overview-section-entry { 
    /*padding-top: 2.5em; padding-bottom: 2.5em; */
    /*margin-bottom: var( --workflow-entry-margin-bottom ); */ 
    /*margin-top: var( --workflow-entry-margin-top ); */
    position: relative; 
    
} 

.overview-section-entry:last-of-type { 
    margin-bottom: 0; 
}

.overview-section-entry .heading:before { 
    --icon-size: 2em; 

    display: block;  
    margin: 0 auto; 
} 

.overview-section-entry-heading { 
    /*margin-bottom: var( --workflow-entry-heading-margin-bottom );  */ 
    text-transform: uppercase; 
} 

/*.overview-section-entry .read-more-button {  
    margin-top: 1.2em; 

} */

.page-body .overview-section-entry-list { 
    margin-top: 4rem; 
} 


/*@media screen and ( max-width: 940px ) { 

    .overview-section-entry { 
        padding-top: 2em; padding-bottom: 2em; 

    }
    
} */