.page-nav-entry-list { 
    /* Removes entry list calculated width */
    --column-width: auto; 
    /* Removes entry list default column gutter width */
    --column-gutter-x-width: 0; 

} 

/* Removes entry list default entry margin top */
.page-nav-entry:nth-child( n ) { 
    margin-top: 0; 
} 

.page-nav {   
    padding-left: 2rem; padding-right: 2rem; 
    position: relative; 
    /* Applies top and bottom border */
    border-style: solid; 
    border-top-width: var( --page-nav-border-width ); border-bottom-width: var( --page-nav-border-width ); 
    border-color: var( --page-nav-border-color ); 
    /* Sets page navigation font size */ 
    font-size: var( --page-nav-font-size ); 

} 

/* Overrides default top margin, set on elements, following a paragraph */
.text-entry + .page-nav { 
    margin-top: 1.5rem; 

}

.page-nav-entry-list {   
    /* Centers navigation entries */
    justify-content: center; 
} 

.page-nav .skip-to-content-link { 
    height: var( --page-nav-entry-height ); line-height: var( --page-nav-entry-height ); 
    padding-left: 0; padding-right: 0;  

}

.page-nav:before { 
    display: block; 
    width: var( --page-nav-icon-size ); height: var( --page-nav-icon-size ); line-height: var( --page-nav-icon-size );  
    position: absolute; top: 100%; left: 50%; margin-left: calc( -1 * var( --page-nav-icon-size ) / 2 ); 
    font-size: 1.8em; 
    content: "\f3d4"; 

}
