@import url( "./page-nav.css" ); 


.has-page-nav .page-head-text-content { 
    padding-bottom: var( --page-head-nav-text-content-padding-bottom ); 

} 

.has-page-nav .page-head-text-entry {  
    /* Sets page heading element height and centers its text vertically */ 
    height: var( --page-head-nav-text-entry-height ); line-height: var( --page-head-nav-text-entry-height );    

} 

.has-page-nav .page-nav { 
    margin-top: var( --page-nav-margin-top ); 

}
