/* Adds space below text entry text to compensate visually for the absence of page navigation */
.page-head:not( .has-page-nav ):not( .sell-points ) .page-head-text-content { 
    padding-bottom: var( --page-head-no-nav-text-content-padding-bottom );  

} 

.page-head:not( .has-page-nav ) .page-head-text-entry { 
    /* Restricts text entry width to its containing text width */
    display: inline-block; 
    /* Sets larger height on text entry, compared to page head with navigation */
    height: var( --page-head-no-nav-text-entry-height ); line-height: var( --page-head-no-nav-text-entry-height ); 
    /* Pulls text entry up to place it closer to id */
    margin-top: calc( -1 * var( --page-head-no-nav-text-entry-margin-up ) ); 

}

/* Creates a line with text color on certain distance below text entry text in attempt to balance id and text entry in the absence of page navigation */
.page-head:not( .has-page-nav ) .page-head-text-entry:after { 
    /* Enables line width control through the use of margin or padding */
    box-sizing: border-box; 
    display: block; 
    height: var( --page-head-no-nav-line-height ); 
    /* Defines line width in relation to text width */ 
    margin-left: var( --page-head-no-nav-line-pull-x ); margin-right: var( --page-head-no-nav-line-pull-x ); 
    background-color: var( --page-head-no-nav-line-color ); background-clip: content-box; 
    content: ""; 

}