@import url( "./page-nav.css" ); 


.page-head { 
    border-style: solid; border-color: transparent; border-bottom-width: var( --sell-points-padding-y ); 
    margin-bottom: var( --section-margin-bottom ); 

    background-clip: padding-box; 
    background-color: var( --text-color ); 
    /* Sets page head font size to page heading font size to give page head border width 'em's equal output value to page heading 'em's */
    font-size: var( --page-head-font-size ); 
    /* Centers page head text horizontally */
    text-align: center; 

}

.page-head-text-content { 
    box-sizing: border-box; 
    /**/
    max-width: var( --page-inner-width ); 
    /* Centers its text vertically */ 
    margin-left: auto; margin-right: auto; 

    padding-top: 4rem; padding-bottom: 4rem; 

    position: relative; top: var( --sell-points-padding-y ); 

    /**/
    background-color: var( --text-color ); 
    color: var( --text-color-inverted ); 

    border: 1px solid rgba( 255, 255, 255, 0.4 ); 
    box-shadow: 0 0 15px 5px rgba( 0, 0, 0, 0.4 ); 
   
} 