.heading { 
    margin-bottom: var( --heading-margin-bottom ); 
    font-family: "var( --heading-font-family )"; 
    text-transform: uppercase; 
    text-align: center; 
} 

.subheading { 
    margin-bottom: var( --subheading-margin-bottom ); 
    font-family: var( --subheading-font-family );
} 

.page-body { 
    /* width: var( --page-inner-width );  */ 
    margin-left: auto; margin-right: auto; 
    /* text-align: center;  */ 
} 

.page-heading { 
    font-size: var( --page-heading-font-size ); 
} 

.page-subheading { 
    font-size: var( --page-subheading-font-size ); 
} 

/* Sets paragraph to paragraph vertical distance */ 
.text-entry + .text-entry { 
    margin-top: var( --text-entry-margin-bottom ); 
} 

/* Sets last paragraph from a sequence of paragraphs to any element following vertical distance */ 
.text-entry + :not( .text-entry ) { 
    margin-top: var( --text-margin-bottom ); 

}   

/* .text-entry:not( :last-child ) { 
    margin-bottom: var( --text-margin-bottom ); 
}   */

.page-body .featured-image { 
    /* margin-top: 2rem;  */ 
    height: 20rem; max-width: var( --page-inner-width ); 
    margin-left: auto; margin-right: auto; 
    /* background-color: red;  */ 
} 

.page-featured-image + * { 
    margin-top: 5rem; 

} 

.page-text-entry:last-of-type + :not( .page-featured-image ) { 
    margin-top: 4rem; 

}
