.heading {  
    margin-bottom: var( --heading-margin-bottom ); 
    font-family: "var( --heading-font-family )"; 
    text-transform: uppercase; 
    text-align: center; 
} 

.subheading { 
    margin-bottom: var( --subheading-margin-bottom ); 
    font-family: var( --subheading-font-family );
} 

.page-body { 
    /* width: var( --page-inner-width );  */ 
    margin-left: auto; margin-right: auto; 
    /* text-align: center;  */ 
} 

.heading.page-heading { 
    box-sizing: border-box; 
    padding-left: 5em; padding-right: 5em; 

}

.heading.page-heading { 
    font-size: var( --page-heading-font-size ); 
} 

.page-subheading { 
    font-size: var( --page-subheading-font-size ); 
} 

/* Sets paragraph to paragraph vertical distance */ 
.text-entry + .text-entry { 
    margin-top: var( --text-entry-margin-bottom ); 
} 

/* Sets last paragraph from a sequence of paragraphs vertical distance to any element, that follows */ 
.text-entry + :not( .text-entry ) { 
    margin-top: var( --text-margin-bottom ); 

}  

/* .text-entry + .entry-list { 
    margin-top: 3rem; 

} 

.text-entry + .button { 
    margin-top: 2rem; 

} */ 

/* Overrides default top margin */ 
.text-entry + .button { 
    margin-top: 2.5rem; 

} 

.page-text-entry { 
    text-align: left; 

}

/* .text-entry:not( :last-child ) { 
    margin-bottom: var( --text-margin-bottom ); 
}   */

.page-body .featured-image { 
    /* margin-top: 2rem;  */ 
    height: 20rem; max-width: var( --page-inner-width ); 
    margin-left: auto; margin-right: auto; 
    /* background-color: red;  */ 
} 

.page-featured-image + * { 
    margin-top: 5rem; 

} 

.page-text-entry:last-of-type + :not( .page-featured-image ) { 
    margin-top: 4rem; 

} 

.page-text-entry:last-of-type + .website-structure-chart { 
    margin-top: 0; 

} 


@media screen and ( max-width: 920px ) { 
    /* Adjusts text-to-next-element distance on smaller screens */
    .text-entry + :not( .text-entry ) { 
        margin-top: 2rem; 

    }  

}
