/* Adds space below text entry text to compensate visually for the absence of page navigation */
.page-head:not( .has-page-nav ) .page-head-text-content { 
    padding-bottom: 7rem;  

} 

.page-head:not( .has-page-nav ) .page-head-text-entry { 
    /* Restricts text entry width to its containing text width */
    display: inline-block; 
    /* Sets larger height on text entry, compared to page head with navigation */
    height: 5.5em; line-height: 5.5em; 
    /* Pulls text entry up to place it closer to id */
    margin-top: -0.5em; 

}

/* Creates a line with text color on certain distance below text entry text in attempt to balance id and text entry in the absence of page navigation */
.page-head:not( .has-page-nav ) .page-head-text-entry:after { 
    /* Enables line width control through the use of margin or padding */
    box-sizing: border-box; 
    display: block; 
    height: 1px; 
    /* Defines line width in relation to text width */ 
    margin-left: -40%; margin-right: -40%; 
    background-color: rgba( 255, 255, 255, 0.4 ); background-clip: content-box; 
    content: ""; 

}