/* .page-head:not( .has-page-nav ) .page-head-text-entry { 
    border-style: solid; border-width: 1px 0; border-color: rgba( 255, 255, 255, 0.4 ); 

}  */

.page-head:not( .has-page-nav ) .page-head-text-content { 
    padding-bottom: 7rem; 

} 