:root { 
    --heading-font-size: 1.8em;  
    --subheading-font-size: 0.8rem; 

} 

.heading {  
    font-family: "var( --heading-font-family )"; 
    font-size: var( --heading-font-size ); 
    text-transform: uppercase; 
    text-align: center; 
} 

.subheading { 
    margin-bottom: var( --subheading-margin-bottom ); 
    font-family: "var( --subheading-font-family )"; 
    font-size: var( --subheading-font-size ); 
} 

.page-body { 
    margin-left: auto; margin-right: auto; 

} 

.heading.page-heading { 
    box-sizing: border-box;  

}

/*.heading.page-heading { 
    font-size: var( --page-heading-font-size ); 
} 

.page-subheading { 
    font-size: var( --page-subheading-font-size ); 
} */

/* Sets paragraph to paragraph vertical distance */ 
.text-entry + .text-entry { 
    margin-top: var( --text-entry-margin-bottom ); 
} 

/* Sets last paragraph from a sequence of paragraphs vertical distance to any element, that follows */ 
.text-entry + :not( .text-entry ) { 
    margin-top: var( --text-margin-bottom ); 

}  

.page-text-entry { 
    text-align: left; 

}

.page-body .featured-image { 
    height: 20rem; max-width: var( --page-inner-width ); 
    margin-left: auto; margin-right: auto; 

} 

.page-featured-image + * { 
    margin-top: 5rem; 

} 

.page-text-entry:last-of-type + :not( .page-featured-image ) { 
    margin-top: 4rem; 

} 

.page-text-entry:last-of-type + .website-structure-chart { 
    margin-top: 0; 

} 


@media screen and ( max-width: 920px ) { 
    /* Adjusts text-to-next-element distance on smaller screens */
    .text-entry + :not( .text-entry ) { 
        margin-top: 2rem; 

    }  

} 

@media screen and ( min-width: 721px ) { 
    .heading.page-heading { 
        padding-left: 10%; padding-right: 10%; 
    
    }

}

@media screen and ( max-width: 520px ) { 
    /* Left aligns section headings and subheadings text where a paragraph (with left aligned text) comes right after */
    .section-heading:not( .sell-points .heading ):not( .features-section .heading ), 
    .section-subheading:not( .sell-points .heading ):not( .features-section .heading ) {  
        text-align: left; 
    } 

} 

@media screen and ( max-width: 480px ) { 
    :root { 
        --text-font-size: 14px; 
        
    } 

    .text-entry { 
        font-size: 1em; 
    
    }

} 
