.price-block { 
    margin-bottom: var( --price-block-margin-bottom ); 
} 

.price-block-heading { 
    margin-bottom: var( --price-block-heading-margin-bottom ); 
    font-size: var( --price-block-font-size ); 
    text-transform: uppercase; 
} 