.product-features-entry-list { 
    --column-count: 3; 
    --column-gutter-x-width: 0rem;  

    --icon-code: "\f383"; 

} 

/* .product-features-section { 
    max-width: none; 

} */ 

.product-features-entry-list { 
    background-size: cover; 
    /* background-position: center top;  */ 
    /* background-image: url( "/assets/images/pexels-aksonsat-uanthoeng-1078850.jpg" );  */ 
    /* background-color: var( --text-color );   */ 
    /* color: white;  */ 
    /* border: 1px solid;   */ 
} 

.text-entry + .product-features-entry-list {
    margin-top: calc( var( --text-margin-bottom  ) + 1.5rem ); 

}

.product-feature { 
    box-sizing: border-box; 
    display: flex; flex-direction: column; justify-content: center; 
    min-height: 14rem; 
    /* background-color: rgba( 255, 255, 255, 0.125 );  */ 
    border: 1px solid; border-width: 0 1px 1px 0; 
    /* background-image: url( "/assets/images/pexels-aksonsat-uanthoeng-1078850.jpg" ); 
    background-size: cover;  */ 
    /* background-color: var( --text-color );   */ 
    /* color: white;  */
    /* color: white;   */ 

} 

.product-feature:before { 
    margin-bottom: 0.8rem; 
    font-size: var( --building-block-icon-font-size ); 

}

.product-feature-subheading { 
    margin-bottom: 0.2em; 
    font-size: 0.9em; 

}

.product-feature-heading { 
    margin-bottom: 0; 
    font-size: 1.4em; 
    line-height: 1; 

} 

.product-features-section .read-more-button { 
    margin-top: 4rem; 

}


@media screen and ( min-width: 841px ) { 

    .product-feature:nth-child( 3n ) { 
        margin-right: 0; 
        border-right: none; 
    } 
    
    .product-feature:nth-child( -n + 3 ) { 
        margin-top: 0; 
        /* border-top: none;  */ 
    } 

    .product-feature:nth-last-child( 4 ) ~ .product-feature { 
        border-bottom: none; 

    }
    
}

@media screen and ( max-width: 840px ) and ( min-width: 541px ) { 
    .product-features-entry-list { 
        --column-count: 2; 
    } 

    .product-feature:nth-child( 2n ) { 
        margin-right: 0; 
        border-right: none; 
    } 
    
    .product-feature:nth-child( -n + 2 ) { 
        margin-top: 0; 
        /* border-top: none;  */
    } 

    .product-feature:nth-last-child( 3 ) ~ .product-feature { 
        border-bottom: none; 

    }
    
} 

@media screen and ( max-width: 540px ) { 
    .product-features-entry-list { 
        --column-count: 1; 
    } 

    .product-features-section .product-features-entry-list { 
        margin-top: 1.2rem; 
        /* border-style: solid; border-width: 1px 0;  */ 
    }  

    .product-feature { 
        min-height: 10rem; 
    
    } 

    .product-feature:nth-child( n ) { 
        margin-right: 0; 
        border-right: none; 
    } 
    
    .product-feature:nth-child( -n + 1 ) { 
        margin-top: 0; 
        /* border-top: none;  */
    } 

    .product-feature:nth-last-child( 1 ) { 
        border-bottom: none; 

    }
    
}