.product-features-entry-list { 
    --column-count: 3; 
    --column-gutter-x-width: 0rem;  

} 

/* .product-features-section { 
    max-width: none; 

} */ 

.product-features-entry-list {
    background-size: cover; 
    /* background-position: center top;  */ 
    background-image: url( "/assets/images/pexels-aksonsat-uanthoeng-1078850.jpg" ); 
}

.product-feature { 
    box-sizing: border-box; 
    display: flex; flex-direction: column; justify-content: center; 
    height: 12rem; 
    background-color: rgba( 255, 255, 255, 0.125 ); 
    border: 1px solid; border-width: 1px 1px 0 0;  
    /* background-image: url( "/assets/images/pexels-aksonsat-uanthoeng-1078850.jpg" ); 
    background-size: cover;  */ 
    color: white; 

} 

.product-feature-subheading { 
    margin-bottom: 0.2em; 
    font-size: 0.9em; 

}

.product-feature-heading { 
    margin-bottom: 0; 
    font-size: 1.4em; 
    line-height: 1; 

} 


@media screen and ( min-width: 841px ) { 

    .product-feature:nth-child( 3n ) { 
        margin-right: 0; 
        border-right: none; 
    } 
    
    .entry:nth-child( -n + 3 ) { 
        margin-top: 0; 
        border-top: none; 
    } 
    
}

@media screen and ( max-width: 840px ) and ( min-width: 541px ) { 
    .product-features-entry-list { 
        --column-count: 2; 
    } 

    .product-feature:nth-child( 2n ) { 
        margin-right: 0; 
        border-right: none; 
    } 
    
    .entry:nth-child( -n + 2 ) { 
        margin-top: 0; 
        border-top: none; 
    } 
    
} 

@media screen and ( max-width: 540px ) { 
    .product-features-entry-list { 
        --column-count: 1; 
    } 

    .product-feature:nth-child( n ) { 
        margin-right: 0; 
        border-right: none; 
    } 
    
    .entry:nth-child( -n + 1 ) { 
        margin-top: 0; 
        border-top: none; 
    } 
    
}