.project-page .section { 
    margin-bottom: 0; 

}

.project-page .section + .section { 
    margin-top: 4rem; 

}

/* .project-page .section-heading { 
    background-color: brown; 

} */ 

.project-page .project-screenshot-list { 
    /* height: 28rem; overflow: auto;  */ 
    position: relative; 
    background-size: cover; 
    /* border: 1px solid var( --project-showcase-image-border-color );  */ 

} 

.project-page .project-screenshot-entry, 
.project-page .project-screenshot-entry:target ~ .project-screenshot-entry-default { 
    width: 0; height: 0; overflow: hidden; 

} 

.project-page .project-screenshot-entry:target, 
.project-page .project-screenshot-entry-default { 
    width: 100%; height: 28rem; overflow: auto; 
    margin-bottom: 3.5rem; 

} 

.project-page .project-screenshot { 
    display: block; 
    max-width: 100%; width: auto; height: auto; margin-left: auto; margin-right: auto; 

} 

.project-page .project-screenshot-random-access-list { 
    display: flex; flex-direction: row; justify-content: center; 
    /* margin-top: 3.5rem;  */ 

} 

.project-page .project-screenshot-random-access-entry { 
    margin-right: 0.2em; 
    position: relative;  

} 

.project-page .project-screenshot-select-button { 
    display: block; 
    width: 1.2em; height: 1.2em; 
    padding: 0;  
    background-color: var( --text-color ); 
    border-radius: 0; 

} 

.role-entry-list { 
    --column-count: 2; 
    --column-gutter-y-width: 0.4rem; 

} 

.role-entry-list .entry:nth-child( 2n ) { 
    margin-right: 0; 
} 

.roles-section { 
    /* padding-top: 1.8rem; padding-bottom: 2rem;  */ 
    padding-left: 50%; 
    position: relative; 

} 

/* .roles-section .heading { 
    text-align: left; 

} */


.roles-section > *:nth-child( n ) { 
    padding-left: 1.8rem; 

}

.role-entry-list { 
    margin-top: 1.8rem; 

} 

.role-entry-list .entry { 
    box-sizing: border-box; 
    padding-left: 2rem; 
    border-left: 4px solid; 

} 

.roles-section .featured-image { 
    width: 50%; height: 100%; 
    margin-top: 0;
    position: absolute; left: 0; top: 0; 

} 

/* .screenshots-section { 
    padding-top: 5rem; padding-bottom: 5rem; 
    padding-right: 50%; 
    position: relative;  

} 

.screenshots-section > :nth-child( n ) { 
    padding-right: 1.8rem;  

} 

.screenshots-section > .screenshot-entry-list-window { 
    height: 100%; 
    padding: 0; 
    position: absolute; left: 50%; right: 0; top: 0; bottom: 0; 
    overflow-x: scroll; 

} */

/* .screenshot-entry-list { 
    width: 50%; height: 100%; 
    position: absolute; right: 0; top: 0;  

}  */

/* .screenshots-section .screenshot-entry-list { 
    height: 100%; 
    margin-top: 0; 
    padding-right: 0; 

}

.screenshot { 
    background-color: var( --text-color ); 

}  */

.client-section-entry { 
    display: flex; flex-direction: row; 
    margin-top: 2.5rem; 
    padding-left: 1.2rem; padding-right: 1.2rem; 

} 

.client-section-entry > * { 
    padding-top: 0.8rem;  
    width: 50%; 

}

.client-section-entry-heading { 
    margin-right: 1.25rem; 
    border-top: 1px solid;  
    font-family: var( --text-font-family ); font-size: 0.8rem; 
    text-align: right; 

} 

/* .client-section .representative-entry-list { 
    --column-gutter-y-width: 2.5rem; 

} 

.client-section .representative:nth-child( 1 ) { 
    margin-top: 0; 

} */ 

.client-section-entry .person { 
    display: inline-block; 
    position: relative; 

}

.client-section-entry .person-name { 
    height: 2rem; line-height: 2rem; 
    padding-left: 0.8rem; padding-right: 0.8rem; 
    position: absolute; right: 2rem; bottom: 2rem; 
    border: 1px solid; 
    background-color: white; 
    font-family: var( --text-font-family ); font-size: 0.85em; 

}

.client-section-entry .person-photo { 
    display: block; 
    width: 8em; height: 10em; 
    background-color: var( --text-color ); 

} 

.client-section-entry .project-review .person-photo { 
    width: 4em; height: 5em; 

} 

.client-section-entry .project-review .person-name { 
    display: none; 
    padding: 0; 
    position: relative; right: auto; bottom: auto; 
    border: none; 

} 

.client-section-entry .entry:not( :first-child ) { 
    margin-top: 2.8rem; 

}

.client-section-entry .entry > *:not( :first-child ) { 
    margin-top: 2rem; 

} 

.client-section-entry .representative-information-heading { 
    font-family: var( --text-font-family ); font-size: 0.85em; 
    text-align: left; 

} 

.screenshot-entry-list { 
    --column-count-all: 4; 
    --column-count: 3; 
    --column-gutter-x-width: 0.25rem; 

} 

.screenshot-entry-list { 
    flex-wrap: nowrap; 
    width: calc( 100% + ( var( --column-count-all ) - var( --column-count ) ) * var( --column-width ) + ( var( --column-count-all ) - var( --column-count) ) * var( --column-gutter-x-width ) ); 

}

.screenshot-entry-list .entry:nth-child( 4n ) { 
    margin-right: 0; 
} 

.screenshot-entry-list .entry:nth-child( -n + 4 ) { 
    margin-top: 0; 
} 


@media screen and ( min-width: 881px ) { 
    .roles-section, 
    .roles-section > .heading { 
        text-align: left; 

    } 

    /* .screenshots-section, 
    .screenshots-section > .heading { 
        text-align: right; 

    }  */

    .roles-section .featured-image, 
    .screenshot-entry-list { 
        padding: 0; 

    }

}

@media screen and ( max-width: 880px ) { 
    .project-page .section {  
        padding-bottom: 0; 

    } 

    /* .roles-section, 
    .screenshots-section { 
        padding-top: 20rem; padding-left: 0; padding-right: 0; 
        text-align: left; 

    }  */ 

    .roles-section > :nth-child( n ), 
    .screenshots-section > :nth-child( n ) { 
        padding-left: 1.2rem; 
    
    } 
    
    .roles-section .featured-image, 
    .screenshots-section > .screenshot-entry-list-window { 
        width: auto; height: 20rem; 
        padding-left: 0; 
        left: 0; right: 0; 
    
    } 

    .roles-section { 
        padding-left: 0; 
    
    } 

    .project-section > * { 
        margin-top: 1.8em; 

    } 
    
} 

@media screen and ( max-width: 780px ) { 
    .client-section-entry { 
        flex-direction: column; 
        margin-top: 2.5rem; 
    
    } 
    
    .client-section-entry > * { 
        box-sizing: border-box; 
        width: 100%; 
    
    } 

    .client-section-entry-heading { 
        padding-bottom: 0.8em; 
        border-top: none; 
        border-bottom: 1px solid; 
        text-align: left; 
    
    } 

    .client-section-entry .person-name { 
        right: auto; left: 2rem; 
    
    }

} 

@media screen and ( max-width: 580px ) { 
    .screenshot-entry-list { 
        --column-count: 2; 
    
    } 

}
