.home-page .project-entry-list { 
    --column-gutter-x-width: 0.2rem; 

} 

/* Removes unneccessary margin top from entries, located on the first row */
.projects-section .project-entry:nth-child( -n + 1 ) { 
    margin-top: 0; 
} 

/* Removes unneccessary margin right from entries, located on the last column */
.projects-section .project-entry:nth-child( n ) { 
    margin-right: 0; 
} 

.home-page .project-preview-section-body { 
    /*max-width: none; */ 

} 

.home-page .projects-section .random-access-entry-list { 
    --column-count: 2; 
    --column-gutter-x-width: 0.4rem; 

} 

/* Removes unneccessary margin top from entries, located on the first row */
.home-page .projects-section .random-access-entry:nth-child( -n + 2 ) { 
    margin-top: 0; 
} 

/* Removes unneccessary margin right from entries, located on the last column */
.home-page .projects-section .random-access-entry:nth-child( 2n ) { 
    margin-right: 0; 
} 

/*.home-page .project-preview-section-body { 
    display: flex; flex-direction: row;  

} */

/*.home-page .project-preview-section-body > * { 
    width: 50%; height: 20rem; 

}*/

.home-page .project-entry-list { 
    /*max-width: none; */ 
    margin-left: 0; 
    position: relative; 
    overflow: hidden; 

} 

/*.project-entry, 
.home-page .projects-section .random-access-entry { 
    background-color: var( --page-head-background-color ); 

} */ 

.home-page .project-entry { 
    /*height: 100%; */ 
    margin: 0; 
    /*position: absolute; left: 0; top: 100%; z-index: 1;  */ 
    /*background-color: white; 
    color: var( --text-color ); */ 
   
} 

.home-page .project-entry:not( :first-child ) { 
    margin-top: 2.5rem; 

} 

.home-page .project-preview-text-content  { 
    box-sizing: border-box; 
    width: 50%; 
    /*height: 20rem; */ 
    /*position: initial; */ 

} 

.home-page .project-preview-text-content { 
    padding-top: 8rem; padding-bottom: 8rem; 
    border: 1px dashed; 
    /*background-color: var( --text-color ); 
    color: var( --text-color-inverted ); */ 
    
} 

.home-page .project-entry:nth-child( 2n ) .project-preview-text-content { 
    margin-left: auto; 

} 

/*.home-page .project-entry:nth-child( 2n ) .project-preview-text-content {  
    border-left: none; 

}

.home-page .project-entry:nth-child( 2n + 1 ) .project-preview-text-content { 
    border-right: none; 

} */ 


/*.home-page .project-preview-text-content { 
    color: var( --text-color ); 

}*/

.home-page .project-preview-heading { 
    height: 2em; line-height: 2em; 
    /*color: white; 
    background-color: var( --page-head-background-color ); */ 
    border-style: dashed; border-width: 1px 0; 
   
} 

.home-page .project-entry > :last-child { 
    margin-bottom: 0; 

} 

.home-page .project-entry .featured-image { 
    /*box-sizing: border-box; */
    /*width: 50%; */ 
    /*border: 1px dashed; */ 
    /*border: 1px solid; */
    overflow: hidden; 

} 

.home-page .project-entry .featured-image:hover { 
    overflow: auto; 

} 

/*.home-page .project-entry .featured-image > img { 
    display: block; 
    width: 100%; 
    object-fit: cover; 

}*/ 

/*.home-page .project-entry:after { 
    --border-indent: 0em; 

    display: block; 
    position: absolute; left: var( --border-indent ); right: var( --border-indent ); top: var( --border-indent ); bottom: var( --border-indent ); 
    border: 1px solid; 
    content: ""; 
   
}*/ 

.home-page .project-entry:first-child, 
.home-page .project-entry:target { 
    top: 0; 
    z-index: 2; 

} 

/*.home-page .project-entry:target .featured-image { 
    animation: reveal 2.5s 0.125s ease-out;  

} */ 

@keyframes reveal { 
    0% { 
        background-position: top; 

    } 

    100% { 
        background-position: bottom; 

    }
    
} 

.home-page .projects-section .read-more-button {  
    /*background-color: var( --text-color ); 
    color: var( --text-color-inverted ); */ 
    /*border-color: transparent; */

}

.home-page .projects-section .random-access-entry-list {  
    display: none; 
    margin-left: var( --column-gutter-x-width ); 

}

.home-page .projects-section .random-access-entry { 
    display: flex; justify-content: center; align-items: center; 
    height: calc( ( 100% - var( --column-gutter-x-width ) ) / 2 ); 
    position: relative; 

} 

.home-page .projects-section .random-access-entry:hover .featured-image { 
    opacity: 1; 
    transition: opacity 0.175s; 

}

/* .home-page .projects-section .random-access-entry:nth-child( -n + 2 ) { 
    border-bottom: 1px solid; 
} 

.home-page .projects-section .random-access-entry:nth-child( 2n + 1 ) { 
    border-right: 1px solid; 
}  */ 

.home-page .projects-section .random-access-entry .heading { 
    margin-bottom: 0; 
    padding: 0.4em 0.8em; 
    position: relative; z-index: 2; 
    border: 1px solid; 
    /* background-color: var( --text-color );  */ 
    color: white; 

}

.home-page .projects-section .random-access-entry .inner-link {   
    width: 100%; height: 100%; 
    margin: 0; padding: 0; 
    position: absolute; z-index: 3; 
    /* background-color: var( --text-color );  */ 
    /* color: white;   */ 
    /* font-family: "var( --heading-font-family )"; 
    font-size: 1.2rem;  */
    /* text-transform: uppercase;  */ 
    text-indent: -10000px;  

} 

.home-page .projects-section .random-access-entry .featured-image { 
    width: 100%; height: 100%;  
    /*position: absolute; left: 0; top: 0; 
    z-index: 1; */ 

} 

@media screen and ( min-width: 741px ){ 

    .home-page .project-entry:nth-child( 2n + 1 ) .featured-image { 
        left: 50%; 

    } 

    .home-page .project-entry:nth-child( 2n ) .featured-image { 
        right: 50%; 

    } 

}

@media screen and ( max-width: 740px ) { 
    /*.home-page .project-preview-section-body { 
        flex-direction: column; 
    
    } */ 

    .home-page .project-entry { 
        display: flex; flex-direction: column; 
        border: 1px dashed; 
        border-radius: 10px; 

    }

    /*.home-page .project-entry { 
        border: 1px dashed; 
        border-radius: 10px; 
    
    } */ 

    .home-page .project-entry .project-preview-text-content { 
        order: 2; 
        width: 100%; 
        padding-top: 1.5rem; padding-bottom: 2rem; 
        border: none; 
    
    } 

    .home-page .project-entry .featured-image { 
        order: 1; 
        height: 18rem; 
        position: relative; 
    
    } 

    /*.home-page .project-preview-section-body > * { 
        width: 100%; 
        margin-top: var( --column-gutter-x-width ); 

    }

    .home-page .project-preview-section-body > :first-child { 
        margin-top: 0; 

    }
    
    .home-page .projects-section .random-access-entry-list {  
        margin-left: 0; 
    
    }*/ 

    
}