.home-page .project-entry-list { 
    --column-gutter-x-width: 0.2rem; 

} 

/* Removes unneccessary margin top from entries, located on the first row */
.projects-section .project-entry:nth-child( -n + 1 ) { 
    margin-top: 0; 
} 

/* Removes unneccessary margin right from entries, located on the last column */
.projects-section .project-entry:nth-child( n ) { 
    margin-right: 0; 
} 

/* .home-page .project-entry-list { 
    max-width: none; 

} */