.home-page .project-entry-list { 
    --column-gutter-x-width: 0.2rem; 

} 

/* Removes unneccessary margin top from entries, located on the first row */
.projects-section .project-entry:nth-child( -n + 1 ) { 
    margin-top: 0; 
} 

/* Removes unneccessary margin right from entries, located on the last column */
.projects-section .project-entry:nth-child( n ) { 
    margin-right: 0; 
} 

.home-page .project-preview-section-body { 
    max-width: none; 

} 

.home-page .projects-section .random-access-entry-list { 
    --column-count: 2; 
    --column-gutter-x-width: 0.4rem; 

} 

/* Removes unneccessary margin top from entries, located on the first row */
.home-page .projects-section .random-access-entry:nth-child( -n + 2 ) { 
    margin-top: 0; 
} 

/* Removes unneccessary margin right from entries, located on the last column */
.home-page .projects-section .random-access-entry:nth-child( 2n ) { 
    margin-right: 0; 
} 

.home-page .project-preview-section-body { 
    display: flex; flex-direction: row;  

} 

.home-page .project-preview-section-body > * { 
    width: 50%; height: 20rem; 

}

.home-page .project-entry-list { 
    max-width: none; 
    margin-left: 0; 
    position: relative; 
    overflow: hidden; 

} 

.home-page .project-entry { 
    height: 100%; 
    margin: 0; 
    position: absolute; left: 0; top: 100%; z-index: 1; 
   
} 

.home-page .project-entry:first-child, 
.home-page .project-entry:target { 
    top: 0; 
    z-index: 2; 

} 

.home-page .projects-section .random-access-entry-list {  
    margin-left: var( --column-gutter-x-width ); 

}

.home-page .projects-section .random-access-entry { 
    height: calc( ( 100% - var( --column-gutter-x-width ) ) / 2 ); 

} 

.home-page .projects-section .random-access-entry .inner-link {   
    display: block; 
    height: 100%; 
    margin: 0; padding: 0; 
    background-color: var( --text-color ); 

} 


@media screen and ( max-width: 740px ) { 
    .home-page .project-preview-section-body { 
        flex-direction: column; 
    
    } 

    .home-page .project-preview-section-body > * { 
        width: 100%; 
        margin-top: var( --column-gutter-x-width ); 

    }

    .home-page .project-preview-section-body > :first-child { 
        margin-top: 0; 

    }
    
    .home-page .projects-section .random-access-entry-list {  
        margin-left: 0; 
    
    }

    
}