@import url( "./client.css" ); 

.review-entry { 
    box-sizing: border-box; 
    padding-top: 2.5rem; 
    /* padding-bottom: 2.5rem;  */ 
    /* border-left: 1px solid; */ 
    /* color: white; 
    background-color: rgb( 255, 0, 0 );  */ 

} 

.review-entry:first-child { 
    border: none; 
} 

.review-entry-head > * { 
    margin-bottom: 1.2rem; 
}

/* .review-entry .client-name { 
    margin-bottom: 0.8rem; 
}

.review-entry .client-company { 
    margin-bottom: 1.2rem; 
} */