.rocket-features-section { 
    --features-entry-gutter-y-width: 5em; 

} 

.rocket-features-entry-list { 
    --column-gutter-y-width: var( --features-entry-gutter-y-width ); 

} 

.rocket-feature { 
    --icon-font-size: 5rem;  
    --icon-corrected-font-size: calc( 1.3 * var( --icon-font-size ) ); 
    --icon-holder-width: 2em; 
    --icon-holder-height: 0.4em; 
    --icon-holder-border-radius: 0; 
    --icon-holder-margin-bottom: 1em; 
    --icon-holder-border-color: rgba( 255, 255, 255, 0.2 ); 
    --icon-holder-background-color: rgba( 255, 255, 255, 0.02 ); 

} 

.rocket-features-section { 
    padding-top: 5em; padding-bottom: 5em; 
    background-color: var( --text-color ); 
    color: white; 

} 

.rocket-feature ion-icon[ name="analytics" ] { 
    font-size: var( --icon-corrected-font-size ); 

} 

@media screen and ( min-width: 961px ) { 
    .rocket-features-entry-list { 
        --column-count: 3; 

    } 

    .rocket-feature:nth-child( 3n ) { 
        margin-right: 0; 
    } 
    
    .rocket-feature:nth-child( -n + 3 ) { 
        margin-top: 0; 
    } 
    
} 

@media screen and ( max-width: 960px ) { 

    .rocket-features-entry-list { 
        --column-count: 1; 
    
    } 

    .rocket-feature:nth-child( n ) { 
        margin-right: 0; 
    } 
    
    .rocket-feature:first-child { 
        margin-top: 0; 
    } 
    
} 

