/*@media screen and ( min-width: 881px ) { 
    .rocket-features-entry-list { 
        --column-count: 3; 
        --column-gutter-x-width: 1.5em;  

    } 

    .rocket-feature:nth-child( 3n ) { 
        margin-right: 0; 
    } 
    
    .rocket-feature:nth-child( -n + 3 ) { 
        margin-top: 0; 
    } 
    
} */
