.rocket-feature { 
    --icon-font-size: 5rem;  
    --icon-corrected-font-size: calc( 1.3 * var( --icon-font-size ) ); 
    --icon-holder-width: 2em; 
    --icon-holder-height: 0.4em; 
    --icon-holder-border-radius: 0; 
    --icon-holder-margin-bottom: 1em; 
    --icon-holder-border-color: rgba( 255, 255, 255, 0.2 ); 
    --icon-holder-background-color: rgba( 255, 255, 255, 0.02 ); 

} 

.rocket-features-section { 
    padding-top: 5em; padding-bottom: 5em; 
    background-color: var( --text-color ); 
    color: white; 

} 

.rocket-feature ion-icon[ name="analytics" ] { 
    font-size: var( --icon-corrected-font-size ); 

} 

@media screen and ( max-width: 960px ) { 

    .rocket-features-entry-list { 
        --column-count: 1; 
    }
    
} 

