@import url( "./page.css" ); 

.section {  
    margin-bottom: var( --section-margin-bottom ); 

} 

.section:last-child {
    margin-bottom: 0; 
}

/*.section-heading { 
    font-size: var( --heading-font-size ); 
} 

.section-subheading { 
    font-size: var( --subheading-font-size ); 
} */
