@import url( "./page.css" ); 

.section:not( .about-section ) {  
    --heading-font-size: 1.6em; 
    /*--heading-subheading-font-size-ratio: 0.6; */

} 

.section .entry-list {  
    --heading-font-size: 1.4em; 

} 

.section {  
    margin-bottom: var( --section-margin-bottom ); 

} 

.section:last-child {
    margin-bottom: 0; 
}

/*.section-heading { 
    font-size: var( --heading-font-size ); 
} 

.section-subheading { 
    font-size: var( --subheading-font-size ); 
} */
