.section { 
    margin-bottom: var( --section-margin-bottom ); 
    text-align: center; 
}

.section > .heading { 
    text-transform: uppercase; 
}

.section-heading { 
    margin-bottom: var( --heading-margin-bottom ); 
    font-family: var(  --heading-font-family); 
    font-size: var( --heading-font-size ); 
} 

.section-subheading { 
    margin-bottom: var( --subheading-margin-bottom ); 
    font-family: var( --subheading-font-family ); 
    font-size: var( --subheading-font-size ); 
} 

.section-head-text-entry:last-of-type { 
    margin-bottom: var( --text-margin-bottom ); 

}
