.sell-points .id { 
    margin-bottom: var( --id-margin-bottom-front-page ); 

}

.sell-points .page-head-text-content { 
    padding-left: var( --sell-points-entry-padding-x ); padding-right: var( --sell-points-entry-padding-x ); 
    padding-top: var( --sell-points-entry-padding-top ); padding-bottom: var( --sell-points-entry-padding-bottom ); 
    /*font-size: var( --text-font-size ); */

} 

.sell-points-entry-heading { 
    margin-bottom: var( --sell-points-entry-heading-margin-bottom ); 
    /*font-size: var( --sell-points-entry-heading-font-size ); */ 
    text-transform: uppercase; 

} 

.sell-points-entry .text-list { 
    --column-count: 2; 
    --column-gutter-x-width: 0.8em; 
    text-align: left; 

} 

/*.sell-points-entry .text-list { 
    justify-content: center; 

}*/ 

.sell-points-entry .text-list-entry:nth-child( 2n ) { 
    margin-right: 0; 

} 

.sell-points-entry .text-list-entry:nth-child( n - 2 ) { 
    margin-top: 0; 

}

.sell-points-entry .text-list-entry { 
    /*width: auto; */ 
    padding: 0.2em 0; 
    /*background-color: var( --background-color ); 
    color: var( --text-color ); */ 

} 

/*.sell-points-entry .text-list-entry {
    border-bottom: 1px solid rgba( 255, 255, 255, 0.2 ); 

} */ 

.sell-points-entry .text-list-entry + .text-list-entry { 
    margin-top: 0; 

} 

/*.sell-points-entry .text-list-entry { 
    margin-left: 1.2em; 

}*/ 

/* .sell-points-entry .text-entry:last-of-type + :not( .text-entry ) {
    margin-top: var( --sell-points-entry-text-margin-bottom ); 
}  */ 


@media screen and ( max-width: 420px ) { 
    .sell-points { 
        --sell-points-entry-padding-top: 4em; 
        --sell-points-entry-padding-bottom: 5em; 
    
    }

    .page-head-text-content { 
       --sell-points-entry-padding-x: 0; 

    } 
    
} 

@media screen and ( max-width: 320px ) { 
    .sell-points { 
        --sell-points-entry-padding-bottom: var( --sell-points-entry-padding-top ); 
    
    } 
    
}
























/* .sell-points-entry .text-content .featured-image { 
    z-index: -1; 

} 

.sell-points-entry .heading { 
    margin-bottom: var( --sell-points-entry-heading-margin-bottom ); 
    font-size: var( --sell-points-entry-heading-font-size ); 
    text-transform: uppercase; 

} 

.sell-points-entry .featured-image {  
    position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 1; 
    background-position: center top;  

}  */
