.sell-points .id { 
    margin-bottom: var( --id-margin-bottom-front-page ); 

}

.sell-points .page-head-text-content { 
    padding-left: var( --sell-points-entry-padding-x ); padding-right: var( --sell-points-entry-padding-x ); 
    padding-top: var( --sell-points-entry-padding-top ); padding-bottom: var( --sell-points-entry-padding-bottom ); 
    font-size: var( --text-font-size ); 

} 

.sell-points-entry .heading { 
    margin-bottom: var( --sell-points-entry-heading-margin-bottom ); 
    font-size: var( --sell-points-entry-heading-font-size ); 
    text-transform: uppercase; 

} 

.sell-points-entry .text-entry:last-of-type + :not( .text-entry ) {
    margin-top: var( --sell-points-entry-text-margin-bottom ); 
} 


@media screen and ( max-width: 580px ) { 
    .page-head-text-content { 
       --sell-points-entry-padding-x: 1.25rem; 

    } 
    
}
























/* .sell-points-entry .text-content .featured-image { 
    z-index: -1; 

} 

.sell-points-entry .heading { 
    margin-bottom: var( --sell-points-entry-heading-margin-bottom ); 
    font-size: var( --sell-points-entry-heading-font-size ); 
    text-transform: uppercase; 

} 

.sell-points-entry .featured-image {  
    position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 1; 
    background-position: center top;  

}  */
