@import url( "./sell-points-entry.css" ); 

.sell-points { 
    margin-left: var( --page-inner-padding-x-correction ); margin-right: var( --page-inner-padding-x-correction ); 
    /* padding-top: var( --sell-points-padding-y );  */ 
    padding-bottom: var( --sell-points-padding-y );  
    margin-bottom: var( --section-margin-bottom ); 
    
    /* background-clip: padding-box;  */
    /* background-color: red;  */ 
    color: white; 

} 

.sell-points > .heading { 
    display: none; 

}

.sell-points-entry-list { 
    /* width: var( --page-inner-width );  */ 
    /* margin-left: auto; margin-right: auto;  */ 
    /* margin-bottom: calc( -1 * var( --sell-points-padding-y ) );  */ 

    /* background-color: red;  */ 

    /* box-shadow: 0 0 5px 5px rgba( 0, 0, 0, 0.2 );  */

} 
