.services-page .workflow-price-entry-list { 
    --column-count: 1; 
    --column-gutter-x-width: 0rem; 
    --column-gutter-y-width: 2rem; 

} 

.services-page .workflow-price-entry-list { 
    /*max-width: var( --page-inner-width ); */ 
    margin-left: auto; margin-right: auto; 
    margin-top: 7rem; 

} 

.services-page .workflow-price-entry { 
    /* Sets a kind of grid, controlled by element width */
    display: flex; flex-direction: row; align-items: center; flex-wrap: wrap; 
    padding-left: 50%; 
    position: relative; 

} 

.services-page .workflow-price-entry > * { 
    text-align: left; 

} 

.services-page .workflow-price-entry + .workflow-price-entry { 
    margin-top: 7rem; 

} 

/* Ensures heading and text on separate lines and price and button on the same line positioning */
.services-page .workflow-price-entry > .price-block-heading, 
.services-page .workflow-price-entry > .text-entry { 
    width: 100%; 

}

.services-page .workflow-price-entry > .price-block-heading:before { 
    margin-left: 0; 
    /* Icon is placed next to entry on a larger screen */
    position: absolute; right: calc( 50% + 3.5rem ); 
    font-size: 1.8rem; 
    content: "\f3a6"; 

} 

.services-page .workflow-price-entry > .price-block-heading { 
    border-bottom: 1px solid;   
    background-color: transparent; 
    color: var( --text-color );  
    font-size: 1.4rem; 

} 

.services-page .workflow-price-entry > .text-entry { 
    max-width: none;  
    margin-bottom: 1.25rem; 

}

/* .services-page .building-price-entry-list { 
    --column-count: 4; 
    --column-gutter-x-width: 0.4rem; 

}  */ 

.services-page .building-price-entry-list { 
    margin-top: 8rem; 
} 

.services-page .price, 
.services-page .outer-page-link-button { 
    margin-top: 0; 

}

.services-page .outer-page-link-button { 
    margin-left: 1.25rem; 
    

} 


@media screen and ( max-width: 920px ) { 

    .services-page .workflow-price-entry { 
        padding-left: 0; 
    
    } 

    .services-page .workflow-price-entry-list { 
        margin-top: 0rem; 
    
    } 
    
    .services-page .workflow-price-entry + .workflow-price-entry { 
        margin-top: 4.5rem; 
    
    } 
    

    .services-page .workflow-price-entry > .price-block-heading:before { 
        margin-bottom: 0.5em; 
        position: initial; 
    
    } 

}
