/*-----------------------------------------------------------
    Layout
------------------------------------------------------------*/ 

:root { 
    --page-max-width: ""; 
    --page-inner-width: 960px; 

    --header-margin-bottom: 0; 
    --header-padding-top: 1.5rem; 
    --header-padding-bottom: 0; 
    --logo-width: 8rem; 
    --logo-height: 5rem; 

    --main-nav-height: 3.5rem; 
    --main-nav-padding-top: 1.7rem; 
    --main-nav-padding-bottom: 1.4rem; 
    --main-nav-margin-bottom: 0; 
    --main-nav-link-padding-x: 1.2rem; 
    --main-nav-link-padding-y: ""; 
    --main-nav-link-current-mark-height: 2px; 
    --main-nav-link-current-mark-color: white; 
    --main-nav-font-family: inherit; 
    --main-nav-font-size: inherit; 
    --main-nav-text-color: white; 
    --main-nav-background-color: transparent; 

    --header-id-margin-bottom: "";  

    --section-margin-bottom: 7rem; 
    --heading-margin-bottom: ""; 
    --subheading-margin-bottom: ""; 
    --paragraph-margin-bottom: ""; 

    --footer-margin-top: 8rem; 
    --footer-padding-top: ""; 
    --footer-padding-bottom: ""; 
    --footer-members-margin-bottom: 3.5rem;  
    --footer-logo-margin-bottom: 0.8rem; 
    --footer-id-margin-bottom: 4.5rem; 
    --send-message-margin-bottom: ""; 
    --footer-contacts-margin-bottom: 2rem; 
     
}

/*-----------------------------------------------------------
    Typography
------------------------------------------------------------*/ 

:root { 
    --heading-margin-bottom: 1em; 
    --heading-font-family: A1SerifBold; 
    --heading-font-size: 1.7em;  
    --heading-subheading-font-size-ratio: 0.5; 

    --subheading-margin-bottom: 0.5em; 
    --subheading-font-family: Tahoma; 
    --subheading-font-size: calc( var( --heading-subheading-font-size-ratio ) * var( --heading-font-size ) ); 

    --text-entry-margin-bottom: 0.5em; 
    --text-margin-bottom: 1em; 
    --text-font-family: Arial; 
    --text-font-size: 14px; 
    --text-line-height: 1.4; 

    --page-heading-font-size: var( --heading-font-size );  
    --page-subheading-font-size: calc( var( --heading-subheading-font-size-ratio ) * var( --page-heading-font-size ) ); 
}

/*-----------------------------------------------------------
    Color
------------------------------------------------------------*/ 

:root { 
    --text-color: red; 
    --background-color: ""; 
    --highlight-color: ""; 
    --overlay-color: ""; 
    
}

/*-----------------------------------------------------------
    Icons
------------------------------------------------------------*/ 

:root { 
    --icon-side: 2.5rem; 
    --icon-font-family: Ionicons; 

    --contact-icon-font-size: 1.4rem; 
    --contact-phone-icon: "\f4b8"; 
    --contact-working-hours-icon: "\f3c7"; 
    --contact-email-icon: "\f422"; 
    
} 


/*-----------------------------------------------------------
    Buttons
------------------------------------------------------------*/ 

:root { 
    --button-height: 3em; 
    --button-padding-x: 1.7em; 
    --button-padding-y: ""; 

    --button-border-width: 1px; 
    --button-border-color: red; 
    --button-border-radius: 100px; 

    --button-text-color: red; 
    --button-background-color: transparent; 
    
    --button-font-family: Arial; 
    --button-font-size: 12px; 

    --button-icon: ""; 
    
} 

/*-----------------------------------------------------------
    Forms
------------------------------------------------------------*/ 

:root { 
    --send-message-form-width: 40rem; 
    --send-message-field-height: 2.5rem; 
    --send-message-short-to-long-text-ratio: 3; 
    --send-message-long-text-field-height: calc( var( --send-message-short-to-long-text-ratio ) * var( --send-message-field-height ) ); 

} 

/*-----------------------------------------------------------
    Price
------------------------------------------------------------*/ 

:root { 
    --price-font-family: Impact; 
    --price-base-font-size: 1rem; 
    --price-accent-font-size: 2.5em; 

    --price-currency-font-family: Tahoma; 
    --price-currency-font-size: 0.85rem; 
   
} 

/*-----------------------------------------------------------
    Price Block
------------------------------------------------------------*/ 

:root {  
    --price-block-margin-bottom: 1.5rem; 
    --price-block-heading-margin-bottom: 0.2rem; 

    --price-block-font-size: 0.85rem; 
   
} 

/*-----------------------------------------------------------
    Overall Price 
------------------------------------------------------------*/ 

:root { 
    --building-section-text-margin-bottom: 4rem; 

    --overall-price-padding: 2.5rem; 
    --overall-price-margin-bottom: 4rem; 
    --overall-price-border-width: 1px; 


} 

/*-----------------------------------------------------------
    Building Block 
------------------------------------------------------------*/ 

:root { 
    --building-block-head-padding-y: 2rem; 

    --building-block-add-block-side: 1.5rem; 
    --building-block-add-block-margin-bottom: 0.8rem; 

} 

/*-----------------------------------------------------------
    Copyright Notice
------------------------------------------------------------*/ 

:root { 
    --copyright-notice-padding-y: 1rem; 
    --copyright-notice-element-margin-x: 0.7rem; 

    --copyright-notice-font-family: inherit; 
    --copyright-notice-font-size: inherit; 
    
    --copyright-notice-background-color: red; 
    --copyright-notice-text-color: white; 

} 

/*-----------------------------------------------------------
    Workflow
------------------------------------------------------------*/ 

:root { 
    --workflow-entry-margin-bottom: 2rem; 
    --workflow-entry-heading-margin-bottom: 0.75em; 
    --workflow-entry-heading-font-size: 1.2rem; 

} 

/*-----------------------------------------------------------
    Banner
------------------------------------------------------------*/ 

:root {  
    --sell-points-padding-y: calc( var( --main-nav-padding-top ) + var( --main-nav-padding-bottom ) + var( --main-nav-height ) ); 
    --sell-points-entry-padding-x: 5rem; 
    --sell-points-entry-padding-top: 5.5rem; 
    --sell-points-entry-padding-bottom: 7rem; 
    --sell-points-entry-heading-margin-bottom: 1.4rem; 
    --sell-points-entry-text-entry-margin-bottom: 1.8rem; 
    --sell-points-entry-text-margin-bottom: 1.8rem; 

    --sell-points-entry-heading-font-family: "A1SerifBold"; 
    --sell-points-entry-heading-font-size: 1.8rem; 
   

} 

/*-----------------------------------------------------------
    Contact
------------------------------------------------------------*/ 

:root { 
    --contact-heading-margin-bottom: 0.4em; 
    --contact-heading-font-size: 1.2em; 

    --contact-entry-value-margin-bottom: 0.2rem; 
    --contact-entry-value-font-family: Tahoma; 
    --contact-entry-value-font-size: 1.5em; 

    --contact-separator-width: 1px; 
    --contact-separator-height: 100%; 
    --contact-separator-padding-top: 0; 
    --contact-separator-padding-bottom: 0; 
    --contact-separator-color: red; 

} 

