/*-----------------------------------------------------------
    Layout
------------------------------------------------------------*/ 

:root { 
    --page-max-width: ""; 
    --page-inner-width: ""; 

    --header-margin-bottom: ""; 
    --header-padding-top: ""; 
    --header-padding-bottom: ""; 
    --nav-height: ""; 
    --nav-margin-bottom: ""; 
    --nav-entry-padding-x: ""; 
    --nav-entry-padding-y: "";
    --header-id-margin-bottom: "";  

    --banner-padding-top: ""; 
    --banner-padding-bottom: ""; 
    --banner-heading-margin-bottom: ""; 
    --banner-paragraph-margin-bottom: ""; 

    --section-margin-bottom: ""; 
    --heading-margin-bottom: ""; 
    --subheading-margin-bottom: ""; 
    --paragraph-margin-bottom: ""; 

    --footer-margin-top: ""; 
    --footer-padding-top: ""; 
    --footer-padding-bottom: "";
    --footer-id-margin-bottom: ""; 
    --send-message-margin-bottom: ""; 
    --footer-contacts-margin-bottom: ""; 
     
}

/*-----------------------------------------------------------
    Typography
------------------------------------------------------------*/ 

:root {
    --heading-font-family: ""; 
    --heading-font-size: "";  

    --subheading-font-family: ""; 
    --subheading-font-size: ""; 

    --text-font-family: ""; 
    --text-font-size: ""; 
}

/*-----------------------------------------------------------
    Color
------------------------------------------------------------*/ 

:root { 
    --text-color: red; 
    --background-color: ""; 
    --highlight-color: ""; 
    --overlay-color: ""; 
    
}

/*-----------------------------------------------------------
    Icons
------------------------------------------------------------*/ 

:root { 
    --icon-side: 2.5rem; 
    --icon-margin-bottom: 0.85rem; 
    --icon-font-family: "Ionicons"; 
    --icon-font-size: 1.25rem; 

    --contact-phone-icon: "\f2d2"; 
    --contact-working-hours-icon: "\f3b3"; 
    --contact-email-icon: "\f132"; 
    
} 

/*-----------------------------------------------------------
    Buttons
------------------------------------------------------------*/ 

:root { 
    --button-height: 3em; 
    --button-padding-x: 1.7em; 
    --button-padding-y: ""; 

    --button-border-width: 1px; 
    --button-border-color: red; 
    --button-border-radius: 100px; 

    --button-text-color: red; 
    --button-background-color: transparent; 
    
    --button-font-family: Arial; 
    --button-font-size: 12px; 

    --button-icon: ""; 
    
} 

/*-----------------------------------------------------------
    Forms
------------------------------------------------------------*/ 

:root { 
    --send-message-form-width: 40rem; 
    --send-message-field-height: 2.5rem; 
    --send-message-short-to-long-text-ratio: 3; 
    --send-message-long-text-field-height: calc( var( --send-message-short-to-long-text-ratio ) * var( --send-message-field-height ) ); 

} 

/*-----------------------------------------------------------
    Price
------------------------------------------------------------*/ 

:root { 
    --price-font-family: Arial; 
    --price-base-font-size: 1rem; 
    --price-accent-font-size: 2.5em; 

    --price-currency-font-family: Tahoma; 
    --price-currency-font-size: 0.85rem; 
   
} 

/*-----------------------------------------------------------
    Building Block 
------------------------------------------------------------*/ 

:root { 
    --building-block-head-padding-y: 2rem; 

    --building-block-add-block-side: 1.5rem; 

}

