/*-----------------------------------------------------------
    Layout
------------------------------------------------------------*/ 

:root { 
    --page-max-width: ""; 
    --page-inner-width: ""; 

    --header-margin-bottom: ""; 
    --header-padding-top: ""; 
    --header-padding-bottom: ""; 
    --nav-height: ""; 
    --nav-margin-bottom: ""; 
    --nav-entry-padding-x: ""; 
    --nav-entry-padding-y: "";
    --header-id-margin-bottom: "";  

    --banner-padding-top: ""; 
    --banner-padding-bottom: ""; 
    --banner-heading-margin-bottom: ""; 
    --banner-paragraph-margin-bottom: ""; 

    --section-margin-bottom: ""; 
    --heading-margin-bottom: ""; 
    --subheading-margin-bottom: ""; 
    --paragraph-margin-bottom: ""; 

    --footer-margin-top: ""; 
    --footer-padding-top: ""; 
    --footer-padding-bottom: "";
    --footer-id-margin-bottom: ""; 
    --send-message-margin-bottom: ""; 
    --footer-contacts-margin-bottom: ""; 
     
}

/*-----------------------------------------------------------
    Typography
------------------------------------------------------------*/ 

:root {
    --heading-font-family: ""; 
    --heading-font-size: "";  

    --subheading-font-family: ""; 
    --subheading-font-size: ""; 

    --text-font-family: ""; 
    --text-font-size: ""; 
}

/*-----------------------------------------------------------
    Color
------------------------------------------------------------*/ 

:root { 
    --text-color: ""; 
    --background-color: ""; 
    --highlight-color: ""; 
    --overlay-color: ""; 
    
}

/*-----------------------------------------------------------
    Icons
------------------------------------------------------------*/ 

:root { 
    --icon-side: 2.5rem; 
    --icon-margin-bottom: 0.85rem; 
    --icon-font-family: "Ionicons"; 
    --icon-font-size: 1.2rem;

    --contact-phone-icon: "\f2d2"; 
    --contact-working-hours-icon: "\f3b3"; 
    --contact-email-icon: "\f132"; 
    
} 

/*-----------------------------------------------------------
    Buttons
------------------------------------------------------------*/ 

:root { 
    --button-height: ""; 
    --button-padding-x: ""; 
    --button-padding-y: ""; 
    
    --button-font-family: ""; 
    --button-font-size: "";

    --button-icon: ""; 
    
}