.single-entry-page-head .page-head-title {  
    /* Sets page heading element height and centers its text vertically */ 
    height: var( --page-head-nav-text-entry-height ); line-height: var( --page-head-nav-text-entry-height );    
    margin-bottom: 0; 
    font-family: "var( --sell-points-entry-heading-font-family )"; 
    font-size: var( --heading-font-size ); 

} 