.website-structure-chart { 
    --chart-width: 20%; 
    --chart-padding-y: 5em; 
    --chart-padding-x: 1.25rem; 

    --block-distance-y: 2em;  
    --block-height: 10em; 
    --block-indent-x: 50%; 

    --process-flow-line-left: 1; 
    --process-flow-line-bottom: 1; 

} 

.website-structure-chart-block { 
    position: relative; left: calc( -1 * var( --block-indent-x ) ); 

}

.website-structure-chart-block + .chart-block { 
    left: var( --block-indent-x ); 

}  

.website-structure-chart-block + .chart-block:after { 
    display: block; 
    width: var( --block-indent-x ); height: var( --line-width ); 
    position: absolute; right: 100%; top: 50%; 
    background-color: var( --line-color ); 
    content: ""; 

} 

.website-structure-chart-block:last-child:after { 
    content: none; 

}

.website-structure-chart-process-flow { 
    left: 0; right: 0; 
    

} 

.website-structure-chart-process-flow:before, 
.website-structure-chart-process-flow:after { 
    content: none; 

} 
