.workflow-entry { 
    margin-bottom: var( --workflow-entry-margin-bottom ); 
} 

.workflow-entry:last-of-type { 
    margin-bottom: 0; 
}

.workflow-entry .heading:before { 
    display: block;  
} 

.workflow-entry .heading { 
    margin-bottom: var( --workflow-entry-heading-margin-bottom ); 
    font-family: var( --heading-font-family ); 
    font-size: var( --workflow-entry-heading-font-size ); 
    text-transform: uppercase; 
} 

