{% assign sectionName= include.name | append: "-section" %}

<section 
    id= "{{ sectionName }}" 
    class= "section page-section project-section {{ sectionName }}" 
> 
    <h2 class= "heading section-heading">{{ include.heading }}</h2> 

    {% include text-entry-list.html 
        paragraphs= include.paragraphs 
    %} 

    {% if include.image %} 
        {% include featured-image.html 
            image= include.image  
        %} 
    {% endif %}

    {% if include.body %} 
        {{ include.body }} 
    {% endif %}
</section> 