--- 
layout: default 
---


{% assign pageData= site %} 
{% if layout.dataLocation %}
    {% assign pageDataLocation = layout.dataLocation | append: "." | append: page.dataFileName | split: "." %} 
{% else %} 
    {% assign pageDataLocation = "data" | append: "." | append: page.dataFileName | split: "." %} 
{% endif %}

{% for levelDown in pageDataLocation %} 
    {% assign pageData= pageData[ levelDown ] %} 
{% endfor %}

{% if pageData.pageNav %}
    {% assign pageNavEntryString= "" %} 
    {% for section in pageData.sections %} 
        {% assign pageNavEntryString= pageNavEntryString | append: section[ 0 ] | append: "," | append: section[ 1 ].heading | append: " " %} 
    {% endfor %} 

    {% assign pageNavEntryList= pageNavEntryString | split: " " %} 
{% endif %} 


{% include page-head.html 
    idTagline= site.data.id.tagline 
    title= pageData.title 
    subtitle= pageData.subtitle 
    pageNavEntryList= pageNavEntryList 
    image= pageData.image 
%} 

<article id= "page-body" class= "page-body"> 
    {% include heading.html 
        level= 1 
        className= "page-heading" 
        text= pageData.heading 
    %} 
    
    {% include text-entry-list.html 
        className= "page-text-entry" 
        paragraphs= pageData.paragraphs  
    %} 
    
    {% if pageData.image %} 
        {% include featured-image.html 
            className= "page-featured-image" 
            image= pageData.image 
        %} 
    {% endif %} 

    {{ content }}
</article>