---
layout: inner-page 
type: project-page 
dataLocation: data.projects 
--- 


{% assign projectData= site.data.projects[ page.dataFileName ] %} 


{% include project-page/description/description.html 
    paragraphs= projectData.sections.description.paragraphs 
%} 

{% include project-page/roles/roles.html 
    paragraphs= projectData.sections.roles.paragraphs 
    image= projectData.sections.roles.image 
    body= projectData.sections.roles.body 
%} 

{% include project-page/screenshots/screenshots.html 
    paragraphs= projectData.sections.screenshots.paragraphs 
    body= projectData.sections.screenshots.body 
%} 

{% include project-page/client/client.html 
    paragraphs= projectData.sections.client.paragraphs 
    projectId= projectData.id 
%} 
