---
layout: default 
type: project-page 
dataLocation: data.projects 
--- 


{% assign projectData= site.data.projects[ page.dataFileName ] %} 


{% assign pageHeadImage= site.data.settings.projectPage.pageHead.image %}
{% assign projectPageNavEntryList= "screenshots,скрийншоти|description,описание|roles,отговорности" | split: "|" %} 
{% include page-head.html 
    title= projectData.title 
    pageNavEntryList= projectPageNavEntryList 
    image= pageHeadImage 
%} 

{% include project-screenshot-list.html 
    projectScreenshotDirectory= projectData.sections.screenshots.body.directory
    projectScreenshotEntryList= projectData.sections.screenshots.body.entryList 
%}

{% include project-page/description/description.html 
    paragraphs= projectData.sections.description.paragraphs 
%} 

{% include project-page/roles/roles.html 
    paragraphs= projectData.sections.roles.paragraphs 
    image= projectData.sections.roles.image 
    body= projectData.sections.roles.body 
%} 

{% include project-page/visit-website/visit-website.html 
    className= "project-website-link" 
    text= "Разгледайте сайта" 
    target= projectData.url 
%} 
