{% capture body %} 

    <ul class= "entry-list project-review-entry-list"> 
    {% for review in include.reviews %} 
        {% assign representative= site.data.representatives | where: "id", review.representativeId | first %} 
        
        <li class= "entry project-review"> 
            {% include review-body.html 
                reviewBody= review.body 
            %} 

            {% include person.html 
                name= representative.name  
                photo= representative.photo 
            %} 
        </li>
    {% endfor %}
    </ul>

{% endcapture %}

{% include project-page/client/client-section.html 
    heading= "Reviews" 
    body= body 
%} 